.select2-search__field {
    border: none !important;
    outline: none !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}


.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 4px 8px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #001489 !important;
}

.select2 select2-container {
    max-width: 100% !important;
}

.bg-indigo {
    background-color: #001489 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.overflow-x-scroll {
    overflow-x: scroll
}