.select2-search__field {
    border: none !important;
    outline: none !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}


.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 4px 8px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #001489 !important;
}

.select2-container {
    max-width: 100% !important;
}

.bg-indigo {
    background-color: #001489 !important;
}

html {
    height: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%
}

.overflow-x-auto {
    overflow-x: auto
}

.popover {
    font-family: 'Montserrat', sans-serif !important;
}

.sidebar {
    width: 250px;
    top: 65px;
}

.top-0 {
    top: 0px;
}

.main-wrapper {
    width: calc(100% - 250px);
    margin-left: 250px;
}
