{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <form action="/erp/add_trade" method="post">
                <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                    <div class="col-12">
                        <h4>Add custom trade</h4>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="trade">Existing custom trades</label>
                    </div>
                    <div class="col-6">
                        {% for trade in trades %}
                            <div class="mb-2">{{trade}}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="trade">Enter custom trade name</label>
                    </div>
                    <div class="col-6">
                        <input name="trade" id="trade" class="form-control"/>
                    </div>
                </div>


                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-dark btn-block bg-indigo text-white">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}