{% block content %}
<style>
    .project-number {
        min-width: 40px;
        background: #207d20;
        color: white;
        font-weight: 500;
        border-radius: 50%;
        height: 40px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        max-width: fit-content
    }
    .project-card {
        border-radius: 5px;
        box-shadow: 0px 0px 8px lightgrey;
        margin-bottom: 40px;
        background: #f4efff;
    }
    .project-name {
        font-weight: 500;
    }
    .view-details {
        color: #000000;
        background: #dddddd;
        width: fit-content;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 500;
        margin-top: 80px !important;
    }

    a:hover {
        font-size: 14px;
        transition: all .3s;
        text-decoration: none;
    }

    .fa-user-circle-o {
        font-size: 25px;
        color: #4735dc;
    }

    .team-btn {
        font-size: 12px;
        font-weight: 500;
        color: #4735dc;
    }

    .fa-ban {
        font-size: 25px;
        color: #dc3545;
    }

    .block-btn {
        font-size: 12px;
        font-weight: 500;
        color: #dc3545;
        border-top: 1px solid #e9e9e9;
    }

    .fa-comments-o {
        font-size: 25px;
        color: #000000;
    }

    .comments-btn {
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        border-top: 1px solid #e9e9e9;
    }

    .search-project-field {
        font-size: 12px;
        border-radius: 5px;
        background: #f9f9f9;
        border: 1px solid #ffffff;
        padding: 10px 15px;
    }

</style>

<div class="row mx-5 mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="col-12">
        <h4>Projects</h4>
    </div>
</div>
<div class="w-100 px-5 pt-5 pb-4">
    <div class="row m-0 justify-content-end">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <input type="text" class="form-control search-project-field" placeholder="Search project">
            </div>
        </div>
    </div>
<div class="pb-5 px-5 w-100 row m-0">
    
    {% for project in projects %}
    <div class="col-sm-12 col-md-6 col-lg-4">
        
            <div class="project-card p-3">
                <div class="d-flex flex-wrap">
                    <div class="project-number p-2 mb-2">{{project[2]}}</div>
                    <div class=" ml-2 my-auto">
                        <div class="project-name">{{project[1]}}</div>
                        <div class="pb-2">{{project[4]}}</div>
                    </div>
                </div>                
                <a href="/erp/edit_team?project_id={{project[0]}}" class="d-block mt-4 ml-3 pb-2 d-flex team-btn"><img width="50" src="/erp/static/team.svg" alt=""><span class="my-auto ml-2">Team</span></a>
                <a href="/erp/project_notes?project_id={{project[0]}}" class="d-block mt-1 ml-3 py-2 d-flex comments-btn"><i class="fa fa-comments-o mr-2"></i><span class="my-auto">Comments & notes</span></a>
                <div class="d-flex w-100 justify-content-between">
                    {% if project[3] == 1 %}                
                    <a href="/erp/unblock_project?project_id={{project[0]}}" class="d-block mb-auto ml-3 pt-2 d-flex block-btn block-project clickable"><i class="fa fa-ban mr-2"></i><span class="my-auto">Unblock</span></a>                
                    {% else %}
                    <div data-project-id="{{project[0]}}" data-toggle="modal" data-target="#block-modal" class="d-block mb-auto mt-1 ml-3 pt-2 d-flex block-btn block-project clickable"><i class="fa fa-ban mr-2"></i><span class="my-auto">Block</span></div>                
                    {% endif %}
                                
                    <a class="px-3 py-2 mt-4 d-block ml-auto view-details" href="/erp/view_project_details?project_id={{project[0]}}" >View details</a>
                </div>
            </div>

    </div>
    {% endfor %}
</div>
<div class="p-5 w-100 table-responsive d-none">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Project number</th>
            <th scope="col">Project Name</th>
            <th scope="col"></th>
            {% if session['role'] in ['Super Admin','COO','Design Head','Planning'] %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td>{{project[2]}}</td>
            <td>{{project[1]}}</td>
            <td>
                <a href="/erp/view_project_details?project_id={{project[0]}}">View details</a>
            </td>
            <td>
                <a href="/erp/project_notes?project_id={{project[0]}}">Comments and notes</a>
            </td>
            {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] %}
            <td>
                <a href="/erp/edit_team?project_id={{project[0]}}">View team</a>
            </td>
            <td>
                {% if project[3] == 1 %}
                <a href="/erp/unblock_project?project_id={{project[0]}}" class="btn btn-primary">Unblock</a>
                {% else %}
                <button data-project-id="{{project[0]}}" data-toggle="modal" data-target="#block-modal" class="btn btn-danger block-project">Block</a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}


        </tbody>
    </table>


</div>
<div class="modal" tabindex="-1" role="dialog" id="block-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Block project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="/erp/block_project">
                <input type="hidden" name="project_id" class="project_id">
                <textarea name='reason' class="form-control" rows="5" placeholder="Enter reason for blocking project"></textarea>
                <div class="mt-3">
                    <button type="submit" class="btn btn-danger">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                  
                </div>
            </form>
            
        </div>
      </div>
    </div>
  </div>
{% endblock %}