{% extends 'layout.html' %}
{% block content %}

<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                <div class="col-12">
                    <h4>Work order details</h4>
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Project name</label>
                </div>
                <div class="col-6">
                    {{wo[0]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Project number</label>
                </div>
                <div class="col-6">
                    {{wo[1]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>WO number</label>
                </div>
                <div class="col-6">
                    {{wo[8]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Created on</label>
                </div>
                <div class="col-6 contractor_notes">
                    {{wo[11]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Cheque number</label>
                </div>
                <div class="col-6">
                    {{wo[9]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Trade</label>
                </div>
                <div class="col-6">
                    {{wo[2]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Value</label>
                </div>
                <div class="col-6">
                    {{wo[3]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Contractor Name</label>
                </div>
                <div class="col-6">
                    {{wo[4]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Contractor PAN</label>
                </div>
                <div class="col-6">
                    {{wo[5]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Contractor Code</label>
                </div>
                <div class="col-6">
                    {{wo[6]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Contractor Address</label>
                </div>
                <div class="col-6">
                    {{wo[7]}}
                </div>
            </div>

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>Contractor notes</label>
                </div>
                <div class="col-6 contractor_notes">
                    {{wo[10]}}
                </div>
            </div>

            {% if wo[13]|string != ''%}
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>View difference cost sheet</label>
                </div>
                <div class="col-6">
                    <a style="word-break: break-all;" target="_blank" href="/erp/files/{{wo[13]}}">
                        Open
                    </a>
                </div>
            </div>
            {% endif %}

            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    <label>View work order</label>
                </div>
                <div class="col-6">
                    {% if wo[12]|string == ''%}
                    <a style="word-break: break-all;" target="_blank" href="/erp/files/work_order_{{wo_id}}.pdf">
                        Open
                    </a>
                    {% else %}
                    <a style="word-break: break-all;" target="_blank" href="/erp/files/{{wo[12]}}">
                        Open
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="d-flex flex-column h-100 justify-content-start mx-3">
                <form action="/erp/approve_wo" method="post">
                    <input type="hidden" name="wo_id" value="{{wo_id}}">
                    <div class="d-flex">
                        <button class="mt-3 mr-auto btn btn-success">Approve</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
{% endblock %}
