{% extends 'layout.html' %}
{% block content %}
<div class="row mx-5 mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="col-12">
        <h4>Projects</h4>
    </div>
</div>
<div class="p-5 w-100 table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Project number</th>
            <th scope="col">Project Name</th>
            <th scope="col"></th>
            {% if session['role'] in ['Super Admin','COO','Design Head','Planning'] %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td>{{project[2]}}</td>
            <td>{{project[1]}}</td>
            <td>
                <a href="/erp/view_project_details?project_id={{project[0]}}">View details</a>
            </td>
            <td>
                <a href="/erp/project_notes?project_id={{project[0]}}">Comments and notes</a>
            </td>
            {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] %}
            <td>
                <a href="/erp/edit_team?project_id={{project[0]}}">View team</a>
            </td>
            <td>
                {% if project[3] == 1 %}
                <a href="/erp/unblock_project?project_id={{project[0]}}" class="btn btn-primary">Unblock</a>
                {% else %}
                <button data-project-id="{{project[0]}}" data-toggle="modal" data-trigger="#block-modal" class="btn btn-danger block-project">Block</a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}


        </tbody>
    </table>


</div>
<div class="modal" tabindex="-1" role="dialog" id="block-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Block project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="/erp/block_project">
                <input type="hidden" name="project_id" class="project_id">
                <textarea name='reason' class="form-control" rows="5" placeholder="Enter reason for blocking project"></textarea>
                <div class="mt-3">
                    <button type="button" class="btn btn-danger">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                  
                </div>
            </form>
            
        </div>
      </div>
    </div>
  </div>
{% endblock %}