{% extends 'layout.html' %}
{% block content %}
<div class="modal" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel">Add a new task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <!-- Task Form -->
          <form action="/add_new_task" method="post">
            <div class="form-group">
              <label for="taskName">Task Name:</label>
              <input type="text" class="form-control" id="taskName" name="taskName" required>
            </div>


            <div class="form-group">
                <label for="percentage">Payment percentage:</label>
                <input type="text" class="form-control" id="percentage" name="percentage" required>
            </div>

            
            <input type="hidden" name="project_id" value="{{request.args['project_id']}}">
  
            <div class="form-row">
              <div class="form-group col-md-6 px-3">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" required>
              </div>
              <div class="form-group col-md-6">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" required>
              </div>
            </div>
  
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
  
        </div>
      </div>
    </div>
</div>

<div class="modal" id="subTaskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel">Add new sub task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            

        <!-- Task Form -->
        <form action="/add_new_sub_task" method="post">
            <div class="form-group">
              <label for="taskName">Sub task Name:</label>
              <input type="text" class="form-control" id="taskName" name="taskName" required>
            </div>

            <input type="hidden" name="project_id" value="{{request.args['project_id']}}">
            <input type="hidden" class="task_id" name="task_id" value="">
  
            <div class="form-row">
              <div class="form-group col-md-6 px-3">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" required>
              </div>
              <div class="form-group col-md-6">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" required>
              </div>
            </div>
            {% if session['role'] != 'View client billing' %}
            <button type="submit" class="btn btn-primary">Submit</button>
            {% endif %}
          </form>
  
        </div>
      </div>
    </div>
</div>
  
<div class="container my-5 pt-5">
    <div class="card my-5">
        <div class="card-header text-white bg-secondary ">
            <b>{{project_name}}</b>
            <br> Coordinator: {{project_coordinator}}

        </div>
        <div class="card-body">

            <p><b>Project tasks:</b></p>
            <div class="'mx-4 mt-2">
                <div class="bg-light p-3 mx-4 mb-4 col-md-6">
                    <p>Block or unblock project</p>
                    {% if blocked|string == '1' %}
                    {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}
                <a href="/unblock_project?project_id={{request.args['project_id']}}" class="btn btn-success">Unblock project</a>
                {% endif %}
                {% else %}
                <form action="/block_project" method="POST">
            
                    <div class="form-group">
                        <label for="reason">Reason for blocking:</label>
                        <input type="text" class="form-control" id="reason" placeholder="Enter reason to block project" name="reason" required>
                    </div>
                    <input type="hidden" name="project_id" value="{{request.args['project_id']}}">
                    <button type="submit" class="btn btn-danger">Block project</button>
                </form>
                {% endif %}
                </div>
    
                <form action="/update_advance_payment" class="bg-light p-3 mx-4 col-md-6" method="post">
                    <div class="form-group">
                        <label for="outstanding">Advance payment made:</label>
                        <input type="text" class="form-control" name="amount" value="{{advance_payment}}">
                    </div>

                    <div class="form-group">
                        <label for="outstanding">NT Advance payment made:</label>
                        <input type="text" class="form-control" name="nt_amount" value="{{nt_advance_payment}}">
                    </div>
                    <div class="form-group">
                        <label for="outstanding">Project completion percentage:</label>
                        <input type="number" min="0" max="100" step="1" class="form-control" name="completed_percentage" value="{{project_percentage}}">
                    </div>

                    <div class="form-group">
                        <label for="hand_over_date">Project hand over date:</label>
                        <input type="date" class="form-control" name="hand_over_date" value="{{hand_over_date}}">
                    </div>
                    <input type="hidden" name="project_id" value="{{request.args['project_id']}}">
                    {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}
                    <button class='btn bg-indigo text-white'>Update</button>
                    {% endif %}
                </form>
            </div>
            <div class="row mx-4 mt-2">
                {% for task in tasks %}

                <div class="col-md-3 col-sm-12 p-3 task-card">
                    <span class="d-none task_id">{{task['id']}}</span>
                    {% if task['is_non_tender']|int == 0 %}
                    <div class="card bg-light rounded border">
                        {% else %}
                        <div style="background-color: rgb(255, 255, 161)" class="card rounded border">
                            {% endif %}
                            <div class="card-header bg-secondary text-white d-flex justify-content-between">
                                <span class="task-name">{{task['name']}} </span>
                                <b class="ml-2 my-auto text-white" style="white-space: nowrap;">
                                    <span class='task-percent'>{{task['percent']}}</span>{% if
                                    task['is_non_tender']|int == 0 %}% {% endif %}</b>
                            </div>
                            <div class="p-3">
                                {% set task_id = task['id'] %}
                                {% for sub_task in task['sub_tasks'] %}
                                <p class="d-flex">
                                    {% if sub_task['is_complete'] %}
                                    <a class="btn btn-success p-1 px-2 my-auto">
                                        <i class="fa fa-check text-white"></i>
                                    </a>
                                    {% else %}
                                    {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}
                                    <btn onclick="set_url('/mark_task_complete?id={{loop.index - 1}}&task_id={{task_id}}',this);"
                                        data-toggle="modal" data-target="#SchedulerModal"
                                        class="btn btn-primary p-1 px-2 my-auto">
                                        <i class="fa fa-check text-white"></i>
                                    </btn>

                                    {% else %}
                                    <btn 
                                        class="btn btn-primary p-1 px-2 my-auto">
                                        <i class="fa fa-check text-white"></i>
                                    </btn>
                                    {% endif %}
                                    {% endif %}
                                    
                                    <span class="my-auto ml-2">{{sub_task['name']}}</span> 
                                    {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}
                                    <i data-sub-task-index="{{sub_task['index']}}" data-sub-task-name="{{sub_task['name']}}" data-sub-task-start-date="{{sub_task['start_date']}}" data-sub-task-end-date="{{sub_task['end_date']}}" class="fa fa-pencil my-auto ml-2 px-2 btn edit-sub-task" data-toggle="modal" data-target="#EditSubTaskModal"></i>
                                    <a onclick="return confirm('Are you sure')" href="/delete_sub_task?task_id={{task_id}}&sub_task_id={{sub_task['index']}}"><i  class="fa fa-trash text-danger my-auto ml-2 px-2 btn "></i></a>
                                    
                                    {% endif %}
                                </p>
                                {% endfor %}
                                {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}
                                <div class="btn btn-info add-new-sub-task-btn mr-auto my-3" data-task-id="{{task_id}}" data-toggle="modal" data-target="#subTaskModal">+ Add sub task</div>
                                {% endif %}
                                <br>
                                <small>Start date: <span
                                        class="task-start-date">{{task['start_date']}}</span></small><br>
                                <small>End date: <span class="task-end-date">{{task['end_date']}}</span></small>
                            </div>
                            <div class="p-3 d-flex justify-content-between">
                                <div class="my-auto ">
                                    {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}
                                    {% set task_id = task['id'] %}
                                    {% if task['paid']|int == 0 and task['due']|int == 0 %}
                                    <btn onclick="set_url('/mark_task_due?id={{task_id}}', this);"
                                        data-toggle="modal" data-target="#SchedulerModal"
                                        class='btn btn-block btn-warning'>Mark as Due</btn>
                                    {% elif task['paid']|int == 0 and task['due']|int == 1 %}
                                    <btn onclick="set_url('/mark_task_paid?id={{task_id}}', this);"
                                        data-toggle="modal" data-target="#SchedulerModal"
                                        class='btn btn-block btn-primary'>Mark as paid</btn>
                                    {% else %}
                                    <p class="m-0 btn btn-block btn-success"><i class="fa fa-check"></i> Paid</p>
                                    <btn onclick="set_url('/mark_task_due?id={{task_id}}', this);"
                                        data-toggle="modal" data-target="#SchedulerModal"
                                        class='btn btn-block btn-warning'>Mark as Due</btn>
                                    {% endif %}
                                    {% endif %}
                                    

                                </div>
                                {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}

                                <button class="my-auto btn btn-secondary text-white edit-task" data-toggle="modal"
                                    data-target="#EditTaskModal">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                {% endif %}
                            </div>
                            {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}
                            {% if task['is_non_tender'] == 0 %}
                            <a href="/mark_task_as_nt?id={{task_id}}" class="text-primary btn mt-3">Mark task as NT</a>
                            {% else %}
                            <a href="/mark_task_as_not_nt?id={{task_id}}" class="text-primary btn mt-3">Unmark task as NT</a>
                            {% endif %}

                            <a href="/delete_task?id={{task_id}}"  onclick="return window.confirm('Are you sure?');" class="text-danger btn mt-3">Delete task</a>
                            {% endif %}


                        </div>
                    </div>
                    {% endfor %}
                    {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] or (session['role'] == 'Custom' and 'Update Client billing' in session['permission']) %}
                            
                    <div class="btn btn-primary mb-auto mt-3" data-toggle="modal" data-target="#taskModal">Add task</div>
                    {% endif %}
                    <a onclick="return window.confirm('Are you sure?');" href=""
                        class="mt-4 btn btn-danger text-white d-none"><i class="fa fa-trash mr-2"></i>Delete</a>
                </div>
            </div>
        </div>

        <div id="SchedulerModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <h5 class="modal-title p-2"><b>Add a note</b>
                            <button type="button float-right" class="close" data-dismiss="modal">&times;</button>
                        </h5>
                        <div class="pt-4">
                            <div class="">
                                <textarea rows='3' class="form-control" id="note" placeholder="Type in note"
                                    name="note"></textarea>
                            </div>
                        </div>
                        <button onclick="SubmitForm();" type="button" class="btn btn-success float-right mt-3"
                            data-dismiss="modal">Update</button>
                    </div>

                </div>

            </div>
        </div>
        <div id="EditTaskModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <form method="post" action="/edit_task" class="modal-body">
                        <h5 class="modal-title p-2"><b>Edit task</b>
                            <button type="button float-right" class="close" data-dismiss="modal">&times;</button>
                        </h5>
                        <div class="row m-0">
                            <input type="hidden" class="task_id" name="task_id">
                            <div class="col-9 pt-4">
                                <label for="">Task name</label>
                                <input class="task-name form-control" name="name" required>
                            </div>
                            <div class="col-3 pl-0 pt-4">
                                <label for="">% / ₹ </label>
                                <input class="task-percent form-control" name="percent" required>
                            </div>
                            <div class="pt-4 col-6">
                                <label for="">Start date</label>
                                <input class="task-start-date form-control" name="start_date" type="date" required>
                            </div>
                            <div class="pt-4 col-6">
                                <label for="">End date</label>
                                <input class="task-end-date form-control" name="end_date" type="date" required>
                            </div>
                        </div>

                        <button  type="submit" class="btn btn-success float-right mt-3"
                            >Update</button>
                    </form>

                </div>

            </div>
        </div>

        <div id="EditSubTaskModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <form method="post" action="/edit_sub_task" class="modal-body">
                        <h5 class="modal-title p-2"><b>Edit sub task</b>
                            <button type="button float-right" class="close" data-dismiss="modal">&times;</button>
                        </h5>
                        <div class="row m-0">
                            <input type="hidden" class="task_id" name="task_id">
                            <input type="hidden" class="index" name="index">
                            <div class="col-12 pt-4">
                                <label for="">Task name</label>
                                <input class="sub-task-name form-control" name="name" required>
                            </div>
                            <div class="pt-4 col-6">
                                <label for="">Start date</label>
                                <input class="sub-task-start-date form-control" name="start_date" type="date" required>
                            </div>
                            <div class="pt-4 col-6">
                                <label for="">End date</label>
                                <input class="sub-task-end-date form-control" name="end_date" type="date" required>
                            </div>
                        </div>

                        <button  type="submit" class="btn btn-success float-right mt-3"
                            >Update</button>
                    </form>

                </div>

            </div>
        </div>

        <script>

            function send_notification(title, message) {
                var recipient = $("#recipient-name").text().trim()
                console.log(recipient);
                $.ajax({
                    url: 'https://fcm.googleapis.com/fcm/send',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'key=AAAAlQ1Lrfw:APA91bHvI2-qFZNCf-oFfeZgM0JUDxxbuykH_ffka9hPUE0xBpiza4uHF0LmItT_SfMZ1Zl5amGUfAXigaR_VcMsEArqpOwHNup4oRTQ24htJ_GWYH0OWZzFrH2lRY24mnQ-uiHgLyln'
                    },
                    dataType: 'json',
                    contentType: 'application/json',
                    method: "POST",
                    data: JSON.stringify({
                        'notification': { "title": title.toString(), "body": message.toString() },
                        "to": "/topics/" + recipient,
                        "click_action": 'FLUTTER_NOTIFICATION_CLICK'

                    }),
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }


            var note = '';
            var url = '';
            var ele;
            function set_url(value, element) {
                url = value;
                console.log(url);
                ele = element;
            }
            function SubmitForm() {
                note = document.getElementById("note").value;
                note = note.replace("&", "and");
                url1 = url + "&&note=" + note;
                //   window.location.href = url;
                $.ajax({
                    url: url1,
                    type: "GET",
                    success: function (data) {
                        console.log("Success");
                        window.location.reload()
                    }
                });

                if (url.includes("complete")) {
                    $(ele).removeClass("btn-primary");
                    $(ele).addClass("btn-success");
                    $(ele).removeAttr("data-toggle");
                    send_notification("A task has been marked completed", "Check your scheduler");

                }
                else if (url.includes("due")) {
                    $(ele).removeClass("btn-warning");
                    $(ele).addClass("btn-primary");
                    $(ele).text("Mark as paid");
                    new_function = $(ele).parent().find(".change_url").text();
                    $(ele).attr("onclick", new_function)
                    send_notification("A task has been marked due for payment", "Check your scheduler");
                }
                else if (url.includes("paid")) {
                    $(ele).removeClass("btn-primary");
                    $(ele).addClass("btn-success");
                    $(ele).html("<i class='fa fa-check'></i> Paid");
                    $(ele).removeAttr("data-toggle");
                    send_notification("A task payment has been marked paid!", "Check your scheduler");
                }
                $("#note").val("");
            }

            

            

        </script>
        {% endblock %}