{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <form action="/erp/create_work_order" method="post">
                <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                    <div class="col-12">
                        <h4>Create new work order</h4>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="project">Project</label>
                    </div>
                    <div class="col-6">
                        <select name="project" id="project" class="form-control select2 work_order_project_select"
                                required>
                            <option value=""></option>
                            {% for i in projects %}
                            <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="trade">Trade</label>
                    </div>
                    <div class="col-6">
                        <select name="trade" id="trade" class="form-control select2 work-order-trade-select" required>
                            <option value=""></option>
                            {% for i in trades %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="contractor_id">Contractor</label>
                    </div>
                    <div class="col-6">
                        <select name="contractor_id" id="contractor_id" class="form-control select2" required>
                            <option value=""></option>
                            {% for i in contractors %}
                            <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="wo_number">Work order number</label>
                    </div>
                    <div class="col-6">
                        <input name="wo_number" id="wo_number" class="form-control" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="wo_value">Work order value</label>
                    </div>
                    <div class="col-6">
                        <input name="wo_value" id="wo_value" class="form-control" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="cheque_no">Cheque number</label>
                    </div>
                    <div class="col-6">
                        <input name="cheque_no" id="cheque_no" class="form-control">
                    </div>
                </div>

                <div class="w-100 mx-0 mb-3 form-group milestones_section d-none">
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-8">
                            <label class="font-weight-bold">Milestones and percentages</label>
                        </div>
                    </div>
                </div>
                <button class="btn add-milestone-stage-btn d-none">+</button>


                <div class="row mx-0 mb-3 form-group text-danger error_message d-none"></div>



                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-block bg-indigo text-white">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row mx-0 mb-3 form-group milestones_and_percentages_item template d-none">
    <div class="col-6">
        <input name="milestone[]" class="form-control milestone-field">
    </div>
    <div class="col-6">
        <input name="percentage[]" class="form-control percentage-field">
    </div>
</div>

{% endblock %}