{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
                <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                    <div class="col-12">
                        <h4>Create bill</h4>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="project">Project</label>
                    </div>
                    <div class="col-6">
                        <select name="project" id="project" class="form-control select2 update_trades_for_project" required>
                            <option value=""></option>
                            {% for i in projects %}
                            <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                
                <div class="row mx-0 mb-3 form-group select_trade_for_bill d-none">
                    <div class="col-6">
                        <label for="project">Trade</label>
                    </div>
                    <div class="col-6">
                        <select name="trade" id="trade" class="form-control select2" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="nt-nmr-section d-none">
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-6">
                            <label for="contractor">Contractor</label>
                        </div>
                        <div class="col-6">
                            <select id="contractor" class="form-control select2">
                                <option value=""></option>
                                {% for i in contractors %}
                                <option value="{{i[0]}}">{{i[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group select_trade_for_bill d-none">
                        <div class="col-6">
                            <label for="quantity">Quantity</label>
                        </div>
                        <div class="col-6">
                            <input type="number" id="quantity" class="form-control">                                
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group select_trade_for_bill d-none">
                        <div class="col-6">
                            <label for="rate">Rate</label>
                        </div>
                        <div class="col-6">
                            <input type="number" id="rate" class="form-control">
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group select_trade_for_bill d-none">
                        <div class="col-6">
                            <label for="description">Description</label>
                        </div>
                        <div class="col-6">
                            <textarea rows="4" id="description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-6">
                            <label>Bill amount</label>
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold ">₹ <span class="nt_nmr_bill_amount"></span></label>
                        </div>
                    </div>
                </div>

                 <div class="row mx-0 mb-3 form-group select_payment_stage d-none">
                    <div class="col-6">
                        <label for="payment_stage">Milestone</label>
                    </div>
                    <div class="col-6">
                        <select name="payment_stage" id="payment_stage" class="form-control select2" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="final_details d-none">
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-6">
                            <label>Total work order value</label>
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold total_wo_value"></label>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-6">
                            <label>Contractor Name</label>
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold contractor_name"></label>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-6">
                            <label>Contractor Code</label>
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold contractor_code"></label>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-6">
                            <label>Contractor PAN</label>
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold contractor_pan"></label>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-6">
                            <label>Payment percentage for selected milestone</label>
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold payment_percentage"></label>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-6">
                            <label>Bill amount</label>
                        </div>
                        <div class="col-6">
                            <label class="font-weight-bold ">₹ <span class="bill_amount"></span></label>
                        </div>
                    </div>
                </div>

                <form action="/erp/create_bill" method="POST" id="create_bill_form">
                    <input type="hidden" name="project_id">
                    <input type="hidden" name="trade">
                    <input type="hidden" name="stage">
                    <input type="hidden" name="payment_percentage">
                    <input type="hidden" name="amount">
                    <input type="hidden" name="contractor_name">
                    <input type="hidden" name="contractor_code">
                    <input type="hidden" name="contractor_pan">
                    <input type="hidden" name="quantity" id="quantity-field">
                    <input type="hidden" name="rate" id="rate-field">
                    <input type="hidden" name="description" id="description-field">
                    <input type="hidden" name="nt_nmr_bill_amount">
                    <input type="hidden" name="contractor">
                </form>

                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-dark btn-block bg-indigo text-white create_bill">Create</button>
                    </div>
                </div>

        </div>
    </div>
</div>

{% endblock %}