{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <form action="/erp/create_project" method="post" enctype="multipart/form-data">
                <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                    <div class="col-12">
                        <h4>Create project</h4>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="project_number">Project number</label>
                    </div>
                    <div class="col-6">
                        <input name="project_number" id="project_number" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="project_name">Project name</label>
                    </div>
                    <div class="col-6">
                        <input name="project_name" id="project_name" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="package_type">Package type</label>
                    </div>
                    <div class="col-6">
                        <select name="package_type" id=package_type" class="form-control select2" required>
                            <option value=""></option>
                            <option value="Essential">Essential</option>
                            <option value="Premium">Premium</option>
                            <option value="Luxury">Luxury</option>
                            <option value="Green Home">Green Home</option>
                            <option value="Others">Others</option>

                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="no_of_floors">No of Floors</label>
                    </div>
                    <div class="col-6">
                        <select name="no_of_floors" id=no_of_floors" class="form-control select2" required>
                            <option value=""></option>
                            <option value="G + 1">G + 1</option>
                            <option value="G + 2">G + 2</option>
                            <option value="G + 3">G + 3</option>
                            <option value="G + 4">G + 4</option>

                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="project_value">Project value</label>
                    </div>
                    <div class="col-6">
                        <input name="project_value" id="project_value" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="project_location">Project location</label>
                    </div>
                    <div class="col-6">
                        <input name="project_location" id="project_location" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="date_of_initial_advance">Date of initial advance</label>
                    </div>
                    <div class="col-6">
                        <input type="date" name="date_of_initial_advance" id="date_of_initial_advance"
                               class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="date_of_agreement">Date of Agreement</label>
                    </div>
                    <div class="col-6">
                        <input type="date" name="date_of_agreement" id="date_of_agreement" class="form-control"
                               required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="sales_executive">Sales Executive</label>
                    </div>
                    <div class="col-6">
                        <select name="sales_executive" id=sales_executive" class="form-control select2" required>
                            <option value=""></option>
                            {% for i in sales_executives %}
                            <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="site_area">Site Area in Sqft</label>
                    </div>
                    <div class="col-6">
                        <input name="site_area" id="site_area" class="form-control" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="basement_slab_area">Basement Slab Area (If any)</label>
                    </div>
                    <div class="col-6">
                        <input name="basement_slab_area" id="basement_slab_area" class="form-control" >
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="gf_slab_area">GF Slab Area</label>
                    </div>
                    <div class="col-6">
                        <input name="gf_slab_area" id="gf_slab_area" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="ff_slab_area">FF Slab Area</label>
                    </div>
                    <div class="col-6">
                        <input name="ff_slab_area" id="ff_slab_area" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="sf_slab_area">SF Slab Area</label>
                    </div>
                    <div class="col-6">
                        <input name="sf_slab_area" id="sf_slab_area" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="tf_slab_area">TF Slab Area</label>
                    </div>
                    <div class="col-6">
                        <input name="tf_slab_area" id="tf_slab_area" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="tef_slab_area">Te.F Slab area</label>
                    </div>
                    <div class="col-6">
                        <input name="tef_slab_area" id="tef_slab_area" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="shr_oht">SHR & OHT</label>
                    </div>
                    <div class="col-6">
                        <input name="shr_oht" id="shr_oht" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="elevation_details">Elevation details</label>
                    </div>
                    <div class="col-6">
                        <input type="hidden" name="elevation_details" id="elevation_details"
                               class="elevation_details_input">
                        <div class="elevation-details-section">
                            <input type="text" class="form-control elevation-details d-none mb-2">

                        </div>

                        <button class="btn add-elevation-detail">+</button>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="additional_cost">Additional cost</label>
                    </div>
                    <div class="col-6">
                        <input type="hidden" name="additional_cost" id="additional_cost"
                               class="additional_cost_input">
                        <div class="additional-cost-section">
                            <input type="text" class="form-control additional-cost d-none mb-2">

                        </div>

                        <button class="btn add-additional-cost">+</button>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="paid_percentage">Percentage paid</label>
                    </div>
                    <div class="col-6">
                        <select name="paid_percentage" id=paid_percentage" class="form-control select2" required>
                            <option value=""></option>
                            <option value="2.5">2.5%</option>
                            <option value="2.5">5%</option>
                            <option value="2.5">10%</option>

                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="comments">Comments</label>
                    </div>
                    <div class="col-6">
                        <textarea name="comments" id="comments" rows="3" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="cost_sheet">Cost sheet</label>
                    </div>
                    <div class="col-6">
                        <input type="file" name="cost_sheet" id="cost_sheet">
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="site_inspection_report">Site inspection report</label>
                    </div>
                    <div class="col-6">
                        <input type="file" name="site_inspection_report" id="site_inspection_report">
                    </div>
                </div>
                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-block bg-indigo text-white submit-create-project-form">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}