{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <form action="/erp/create_work_order" method="post" enctype="multipart/form-data">
                <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                    <div class="col-12">
                        <h4>Create new work order</h4>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="project">Project</label>
                    </div>
                    <div class="col-6">
                        <select name="project" id="project" class="form-control select2 work_order_project_select"
                                required>
                            <option value=""></option>
                            {% for i in projects %}
                            <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="contractor_id">Contractor</label>
                    </div>
                    <div class="col-6">
                        <select name="contractor_id" id="contractor_id" class="form-control select2 work-order-select-contractor" required>
                            <option value=""></option>
                            {% for i in contractors %}
                            <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="trade">Trade</label>
                    </div>
                    <div class="col-6 work-order-trade-select">
                        <select name="trade" id="trade" class="form-control select2" required>
                            <option value=""></option>                            
                        </select>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="wo_number">Work order number</label>
                    </div>
                    <div class="col-6">
                        <input name="wo_number" id="wo_number" class="form-control" required>
                    </div>
                </div>
                <span class="d-none total_bua_summation"></span>
                <div class="row mx-0 mb-3 form-group bua-section d-none">
                    <div class="col-6">
                        <label for="total_bua">Total BUA</label>
                    </div>
                    <div class="col-6">
                        <input type="number" value="0" name="total_bua" id="total_bua" class="form-control" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group cost-per-sqft-section d-none">
                    <div class="col-6">
                        <label for="cost_per_sqft">Cost per sqft</label>
                    </div>
                    <div class="col-6">
                        <input type="number" value="0" name="cost_per_sqft" id="cost_per_sqft" class="form-control" required>
                    </div>
                </div>
                
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="wo_value">Work order value</label>
                    </div>
                    <div class="col-6">
                        <input name="wo_value" type="number" id="wo_value" class="form-control" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="cheque_no">Cheque number</label>
                    </div>
                    <div class="col-6">
                        <input name="cheque_no" id="cheque_no" class="form-control">
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="comments">Contractor notes and comments</label>
                    </div>
                    <div class="col-6">
                        <textarea name="comments" rows="5" id="comments" class="form-control"></textarea>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="difference_cost_sheet">Difference cost sheet</label>
                    </div>
                    <div class="col-6">
                        <input type="file" name="difference_cost_sheet"  accept="application/pdf,image/*">
                    </div>
                </div>

                <div class="w-100 mx-0 mb-3 form-group milestones_section d-none">
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-8">
                            <label class="font-weight-bold">Milestones and percentages</label>
                        </div>
                    </div>
                </div>
                <button class="btn add-milestone-stage-btn ml-3 d-none">+ Add new milestone</button>


                <div class="row mx-0 mb-3 form-group text-danger error_message d-none"></div>



                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-dark btn-block bg-indigo text-white create_work_order_submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row mx-0 mb-3 form-group milestones_and_percentages_item template d-none">
    <div class="col-6">
        <input name="milestone[]" class="form-control milestone-field">
    </div>
    <div class="col-3">
        <input name="percentage[]" type="number" step="0.01" class="form-control percentage-field">
    </div>
</div>

{% endblock %}