{% extends 'layout.html' %}
{% block content %}

{% if role is not none %}
{% if session['role'] in ['Super Admin', 'COO', 'QS Head','Purchase Head', 'Site Engineer','Design Head']: %}

<div class="my-4 d-flex">
    {% if 'category' not in request.args or request.args['category'] == 'architect_drawings' %}
        <a href="#" class="btn btn-dark bg-indigo text-white mr-3">Architectural</a>
        <a href="/erp/drawings?category=structural_drawings" class="btn border-dark mr-3 text-dark">Structural</a>
        <a href="/erp/drawings?category=electrical_drawings" class="btn border-dark mr-3 text-dark">Electrical</a>
        <a href="/erp/drawings?category=plumbing_drawings" class="btn border-dark mr-3 text-dark">Plumbing</a>
    {% elif request.args['category'] == 'structural_drawings' %}
        <a href="/erp/drawings?category=architect_drawings" class="btn border-dark mr-3 text-dark">Architectural</a>
        <a href="#" class="btn btn-dark bg-indigo text-white mr-3">Structural</a>
        <a href="/erp/drawings?category=electrical_drawings" class="btn border-dark mr-3 text-dark">Electrical</a>
        <a href="/erp/drawings?category=plumbing_drawings" class="btn border-dark mr-3 text-dark">Plumbing</a>
    {% elif request.args['category'] == 'electrical_drawings' %}
        <a href="/erp/drawings?category=architect_drawings" class="btn border-dark mr-3 text-dark">Architectural</a>
        <a href="/erp/drawings?category=structural_drawings" class="btn border-dark mr-3 text-dark">Structural</a>
        <a href="#" class="btn btn-dark bg-indigo text-white mr-3">Electrical</a>
        <a href="/erp/drawings?category=plumbing_drawings" class="btn border-dark mr-3 text-dark">Plumbing</a>
    {% elif request.args['category'] == 'plumbing_drawings' %}
        <a href="/erp/drawings?category=architect_drawings" class="btn border-dark mr-3 text-dark">Architectural</a>
        <a href="/erp/drawings?category=structural_drawings" class="btn border-dark mr-3 text-dark">Structural</a>
        <a href="/erp/drawings?category=electrical_drawings" class="btn border-dark mr-3 text-dark">Electrical</a>
        <a href="#" class="btn btn-dark bg-indigo text-white mr-3">Plumbing</a>
    {% endif %}
</div>

{% endif %}
{% endif %}
<div class="mt-4  w-100 table-parent">
    <table class="table table-striped mb-3">
        <thead>
        <tr>
            <th scope="col project-header" style="min-width: 200px; z-index: 4; left: 0;">Project</th>
            {% for i in drawing_names %}
            <th scope="col">{{i}}</th>
            {% endfor %}

        </tr>
        </thead>
        <tbody>
        {% for i in drawings %}
        <tr>
            <td style="min-width: 200px;" class="project" data-project-id="{{i[0]}}">{{i[1]}}</td>
            {% for x in range(3, (i|length)) %}
            <td class="text-center status-action" data-link="{{i[x]}}" data-index="{{x - 3}}" data-toggle="modal" data-target="#drawing-modal">
                <div class="w-100 d-flex justify-content-center">
                    {% if i[x] is none or i[x] == '' %}
                    <div class="status bg-danger"></div>
                    <div class="status bg-warning d-none"></div>
                    <div class="status bg-success d-none"></div>
                    <div class="status bg-primary d-none"></div>
                    {% elif i[x] == '0' %}
                    <div class="status bg-danger d-none"></div>
                    <div class="status bg-warning "></div>
                    <div class="status bg-success d-none"></div>
                    <div class="status bg-primary d-none"></div>
                    {% elif i[x] == '-1' %}
                    <div class="status bg-danger d-none"></div>
                    <div class="status bg-warning d-none"></div>
                    <div class="status bg-success d-none"></div>
                    <div class="status bg-primary"></div>
                    {% else %}
                    <div class="status bg-danger d-none"></div>
                    <div class="status bg-warning d-none "></div>
                    <div class="status bg-success"></div>
                    <div class="status bg-primary d-none"></div>
                    {% endif %}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}

        </tbody>
    </table>


</div>

<!-- Modal -->
<div class="modal fade" id="drawing-modal" tabindex="-1" role="dialog" aria-labelledby="drawingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approvalModalLabel">Change drawing status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6 p-0">
                        <label>Project</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold project_name"></label>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6 p-0">
                        <label>Drawing</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold drawing_name"></label>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group drawing-link-section">
                    <div class="col-6 p-0">
                        <a href="" class="drawing-link" target="_blank">View drawing</a>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-8 mt-4 p-0">
                        <div>Change status to</div>
                        <div class="my-2">
                            <button class="btn btn-danger mr-2 drawing-pending">Pending</button>
                            <button class="btn btn-warning text-white mr-2 drawing-in-progress">In progress</button>
                            <button class="btn btn-success drawing-complete mr-2">Complete</button>
                            <button class="btn btn-primary drawing-not-applicable">Not applicable</button>
                        </div>

                        <div class="current-status font-weight-bold mt-3">

                        </div>
                    </div>
                </div>

                <form class="d-none upload-drawing-form" action="/erp/upload_drawing" enctype="multipart/form-data"
                      method="post">
                    <div class="row mx-0 mb-3 form-group">
                        <div class="col-8 mt-4 p-0">
                            <div class="mb-2">Upload drawing</div>
                            <input type="file" name="drawing" id="drawing">
                            <input type="hidden" name="project_id" id="project_id">
                            <input type="hidden" name="project_name" class="project_name">
                            <input type="hidden" name="drawing_name" id="drawing_name">
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <div class="d-flex w-100 justify-content-between">
                    <button type="button" class="btn text-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-dark bg-indigo text-white approve_drawing_btn">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    td:hover {
        border-radius: 5px;
        border: 2px solid indigo;
    }
    td, th {
        min-width: 200px;
        padding: 0.75rem 1.25rem !important;
        border: 1px solid #dee2e6;
        vertical-align: middle !important;
        text-align: center
    }
    .status {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        opacity: 0.6;
    }
    .status-action {
        cursor: pointer;
        z-index: 1;
    }

    .table-parent {
        height: 95%;
        overflow: scroll;
    }

    .table-parent thead th {
        position: sticky;
        top: 0;
        background: white;
        background-color: white;
        z-index: 3;
    }

    .table-parent .project {
        position: sticky;
        left: 0;
        background: white;
        background-color: white;
        z-index: 2;
    }




</style>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='drawings.js') }}"></script>
{% endblock %}