{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <form action="/erp/edit_procurement" method="post">
                <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                    <div class="col-12">
                        <h4>Edit procurement</h4>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <input type="hidden" name="procurement_id" value="{{request.args['procurement_id']">
                    <div class="col-6">
                        <label for="material">Material</label>
                    </div>
                    <div class="col-6">
                        <span class="edit-procurement-material d-none">{{data[1]}}</span>
                        <select name="material" id="material" class="form-control material-select select2" required>
                            <option value=""></option>

                            <option value="PCC M 7.5">PCC M 7.5</option>
                            <option value="PCC M 15">PCC M 15</option>
                            <option value="M 20">M 20</option>
                            <option value="M 25">M 25</option>
                            <option value="Red Bricks">Red Bricks</option>
                            <option value="Exposed Bricks">Exposed Bricks</option>
                            <option value="Wirecut bricks">Wirecut bricks</option>
                            <option value="Earth Blocks">Earth Blocks</option>
                            <option value="Interlocking Blocks">Interlocking Blocks</option>
                            <option value='Solid blocks 4"
                            '>Solid blocks 4"</option>
                            <option value='Solid blocks 6"
                            '>Solid blocks 6"</option>
                            <option value='Solid blocks 8"
                            '>Solid blocks 8"</option>
                            <option value='Porotherm Full blocks 8"
                            '>Porotherm Full blocks 8"</option>
                            <option value='Porotherm Full blocks 6"
                            '>Porotherm Full blocks 6"</option>
                            <option value='Porotherm Full blocks 4"
                            '>Porotherm Full blocks 4"</option>
                            <option value='Porotherm End blocks 8"
                            '>Porotherm End blocks 8"</option>
                            <option value='Porotherm End blocks 6"
                            '>Porotherm End blocks 6"</option>
                            <option value='Porotherm End blocks 4"
                            '>Porotherm End blocks 4"</option>
                            <option value='AAC Blocks 8"
                            '>AAC Blocks 8"</option>
                            <option value='AAC Blocks 6"
                            '>AAC Blocks 6"</option>
                            <option value='AAC Blocks 4"
                            '>AAC Blocks 4"</option>
                            <option value="Glass blocks">Glass blocks</option>
                            <option value="Jaali blocks">Jaali blocks</option>
                            <option value="Door frames">Door frames</option>
                            <option value="Door Beading">Door Beading</option>
                            <option value="Door Shutters">Door Shutters</option>
                            <option value="Windows frames">Windows frames</option>
                            <option value="Windows shutters">Windows shutters</option>
                            <option value="UPVC windows">UPVC windows</option>
                            <option value="Aluminum windows">Aluminum windows</option>
                            <option value="Window glass">Window glass</option>
                            <option value="Hexagonl Rod">Hexagonl Rod</option>
                            <option value="Granite">Granite</option>
                            <option value="Tiles">Tiles</option>
                            <option value="Marble">Marble</option>
                            <option value="Kota stone">Kota stone</option>
                            <option value="HPL Cladding">HPL Cladding</option>
                            <option value="Shera Cladding">Shera Cladding</option>
                            <option value="Floor mat">Floor mat</option>
                            <option value="Plumbing">Plumbing</option>
                            <option value="Sanitary">Sanitary</option>
                            <option value="Aggregates 12mm">Aggregates 12mm</option>
                            <option value="Aggregates 20mm">Aggregates 20mm</option>
                            <option value="Aggregates 40mm">Aggregates 40mm</option>
                            <option value="Cinder">Cinder</option>
                            <option value="Size stone">Size stone</option>
                            <option value="Boulders">Boulders</option>
                            <option value="River sand">River sand</option>
                            <option value="POP">POP</option>
                            <option value="white cement">white cement</option>
                            <option value="tile adhesive">tile adhesive</option>
                            <option value="tile grout">tile grout</option>
                            <option value="lime paste">lime paste</option>
                            <option value="Sponge">Sponge</option>
                            <option value="chicken mesh">chicken mesh</option>
                            <option value="Motor">Motor</option>
                            <option value="Curing Pipe">Curing Pipe</option>
                            <option value="Helmet">Helmet</option>
                            <option value="Jackets">Jackets</option>
                            <option value="GI sheets">GI sheets</option>
                            <option value="Tarpaulin">Tarpaulin</option>
                            <option value="Nails">Nails</option>
                            <option value="Cement">Cement</option>
                            <option value="Steel">Steel</option>
                            <option value="M Sand">M Sand</option>
                            <option value="P Sand">P Sand</option>
                            <option value="Teak wood frame">Teak wood frame</option>
                            <option value="Sal wood frame">Sal wood frame</option>
                            <option value="Honne wood frame">Honne wood frame</option>
                            <option value="Teak wood door">Teak wood door</option>
                            <option value="Sal wood door">Sal wood door</option>
                            <option value="Flush door">flush door</option>
                            <option value="Binding wire">Binding wire</option>
                            <option value="Hardwares">Hardwares</option>
                            <option value="Chamber Covers">Chamber Covers</option>
                            <option value="Filler slab material">Filler slab material</option>
                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-6">
                        <input name="description" id="description" class="form-control" value="{{data[2]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="vendor">Vendor</label>
                    </div>
                    <div class="col-6">
                        <div class="">{{data[3]}}</div>                         
                    </div>
                </div>                
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="po_no">PO number</label>
                    </div>
                    <div class="col-6">
                        <input type="text" name="po_no" id="po_no" class="form-control" value="{{data[5]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="invoice_no">Invoice number</label>
                    </div>
                    <div class="col-6">
                        <input name="invoice_no" id="invoice_no" class="form-control" value="{{data[6]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="invoice_date">Invoice date</label>
                    </div>
                    <div class="col-6">
                        <input type="date" name="invoice_date" id="invoice_date" value="{{data[7]}}" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="photo_date">Photo date</label>
                    </div>
                    <div class="col-6">
                        <input type="date" name="photo_date" id="photo_date" class="form-control" value="{{data[15]}}" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="quantity">Quantity</label>
                    </div>
                    <div class="col-6">
                        <input name="quantity" id="quantity" class="form-control" value="{{data[9]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="unit">Unit</label>
                    </div>
                    <div class="col-6">
                        <span class="edit-procurement-unit d-none">{{data[10]}}</span>
                        <select name="unit" id="unit" class="form-control select2" required>
                            <option value=""></option>
                            <option value="Bags">Bags</option>
                            <option value="CFT">CFT</option>
                            <option value="CUM">CUM</option>
                            <option value="Load">Load</option>
                            <option value="Kg">Kg</option>
                            <option value="MT">MT</option>
                            <option value="Nos">Nos</option>
                            <option value="Box">Box</option>
                            <option value="Others">Others</option>
                        </select>

                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="rate">Rate</label>
                    </div>
                    <div class="col-6">
                        <input name="rate" id="rate" class="form-control" value="{{data[11]}}" required>
                    </div>
                </div>
                
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Transportation cost</label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="transportation" name='transportation' value="{{data[16]}}" class="form-control"></input>
                    </div>
                </div>
                
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Loading Unloading cost</label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="loading_unloading" name='loading_unloading' value="{{data[17]}}" class="form-control"></input>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="gst">GST</label>
                    </div>
                    <div class="col-6">
                        <span class="edit-procurement-gst d-none">{{data[12]}}</span>
                        <select name="gst" id="gst" class="form-control select2" required>
                            <option value=""></option>
                            <option value="0">0%</option>
                            <option value="5">5%</option>
                            <option value="12">12%</option>
                            <option value="18">18%</option>
                            <option value="28">28%</option>
                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="total_amount">Total Amount</label>
                    </div>
                    <div class="col-6">
                        <input readonly name="total_amount" id="total_amount" class="form-control" value="{{data[13]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="difference_cost">Difference cost</label>
                    </div>
                    <div class="col-6">
                        <input name="difference_cost" id="difference_cost" class="form-control" value="{{data[14]}}" required>
                    </div>
                </div>

                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-dark btn-block bg-indigo text-white">Update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}