{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                <div class="col-12">
                    <h4>Contractor details</h4>
                </div>
            </div>
            <form action="/erp/edit_contractor" method="post" enctype="multipart/form-data">
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Name</label>
                    </div>
                    <div class="col-6">
                        <input name="name" class="form-control" value="{{contractor_details[0]}}">
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>PAN</label>
                    </div>
                    <div class="col-6">
                        <input name="pan" class="form-control" value="{{contractor_details[1]}}">
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Aadhar</label>
                    </div>
                    <div class="col-6">
                        <input name="aadhar" class="form-control" value="{{contractor_details[5]}}">
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Address</label>
                    </div>
                    <div class="col-6">
                        <input maxlength="70" name="address" class="form-control" value="{{contractor_details[2]}}">
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Phone number</label>
                    </div>
                    <div class="col-6">
                        <input name="phone_number" class="form-control" value="{{contractor_details[3]}}">
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Code</label>
                    </div>
                    <div class="col-6">
                        <input name="code" class="form-control" value="{{contractor_details[4]}}" readonly>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="trade">Trade</label>
                    </div>
                    <div class="col-6">
                        <div class="d-none">{{contractor_details[5]}}</div>
                        <select name="trade" id="trade" class="form-control select2" multiple required>
                            <option value=""></option>
                            {% for i in trades %}
                            {% if i in contractor_details[5] %}
                            <option value="{{i}}" selected>{{i}}</option>
                            {% else %}
                            <option value="{{i}}">{{i}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="profile_picture">Contractor photo</label>
                    </div>
                    <div class="col-6">
                        <div class="mb-2">
                            <img alt="" height="150" width="150"
                                 src="/erp/files/contractor_dp_{{request.args['contractor_id']}}" alt=""
                                 onerror="this.src='./static/profile_picture.PNG'"
                                 style="border-radius: 50%">
                        </div>
                        <input type="file" name="profile_picture" id="profile_picture" class="form-control">
                    </div>
                </div>


                <input type="hidden" name="contractor_id" value="{{contractor_id}}">
                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-dark btn-block bg-indigo text-white">Submit</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}