{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <form action="/edit_user"  method="post"  enctype="multipart/form-data">

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="role">Role</label>
                    </div>
                    <div class="col-6">
                        <select name="role" id="role" class="form-control select2" required>
                            <option value=""></option>
                            {% for i in roles %}
                            {% if i|string() == user[3]|string() %}
                            <option value="{{i}}" selected>{{i}}</option>
                            {% else %}
                            <option value="{{i}}">{{i}}</option>
                            {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <input type="hidden" name="user_id" value="{{user[0]}}">

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-6">
                        <input name="name" id="name" class="form-control" value="{{user[2]}}" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-6">
                        <input name="email" id="email" value="{{user[1]}}" class="form-control" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="phone">Phone number</label>
                    </div>
                    <div class="col-6">
                        <input name="phone" id="phone" value="{{user[4]}}" class="form-control" required>
                    </div>
                </div>
                {% if user[3] == 'Project Coordinator' %}
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="coordinators">Assistant coordinators under {{user[2]}}</label>
                    </div>
                    <div class="col-6">
                        <select name="coordinators" id="coordinators" class="form-control select2" multiple >
                            <option value=""></option>
                            {% for p in assistant_project_coordinators %}
                            {% if p[0] in assigned_coordinators %}
                            <option value="{{p[0]}}" selected="true">{{p[1]}}</option>
                            {% else %}
                            <option value="{{p[0]}}">{{p[1]}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}

                {% if user[3] == 'Project Manager' %}
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="coordinators">Coordinators under {{user[2]}}</label>
                    </div>
                    <div class="col-6">
                        <select name="coordinators" id="coordinators" class="form-control select2" multiple>
                            <option value=""></option>
                            {% for p in project_coordinators %}
                            {% if p[0] in assigned_coordinators %}
                            <option value="{{p[0]}}" selected="true">{{p[1]}}</option>
                            {% else %}
                            <option value="{{p[0]}}">{{p[1]}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                
                {% if user[3] == 'Sales Manager' %}
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="coordinators">Executives under {{user[2]}}</label>
                    </div>
                    <div class="col-6">
                        <select name="coordinators" id="coordinators" class="form-control select2" multiple>
                            <option value=""></option>
                            {% for p in sales_executives %}
                            {% if p[0] in assigned_coordinators %}
                            <option value="{{p[0]}}" selected="true">{{p[1]}}</option>
                            {% else %}
                            <option value="{{p[0]}}">{{p[1]}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}

                {% if user[3] == 'Custom' %}
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label class="container"> Assign teams
                            {% if user[8] is not none and user[8] != '' %}
                            <input type="checkbox" value="assign_team" id="assign_team" name="assign_team" checked>
                            {% else %}
                            <input type="checkbox" value="assign_team" id="assign_team" name="assign_team">
                            {% endif %}
                            <span class="checkmark"></span>
                        </label>
                        
                    </div>
                </div>
                
                {% endif %}

                {% if user[3] == 'Site Engineer' or user[3] == 'Project Coordinator' or user[3] == 'Custom' or user[3] == 'Billing' or user[3] == 'Assistant project coordinator' %}
                <div class="assign_projects row mx-0 mb-3 form-group  {% if user[8] is not none and user[8] != '' %} d-none {% endif %}">
                    <div class="col-6">
                        <label for="projects">Projects assigned</label>
                    </div>
                    <div class="col-6">
                        <select name="projects" id="projects" class="form-control select2" multiple>
                            <option value=""></option>
                            {% for i in projects %}
                            {% if i[0]|string  in user[5] %}
                            <option value="{{i[0]}}" selected="true">{{i[1]}}</option>
                            {% else %}
                            <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endif %}
                            {% endfor %}

                            <option value="Clear">Clear</option>
                        </select>
                    </div>
                </div>
                <div class="assign_teams row mx-0 mb-3 form-group {% if user[8] is none or user[8] == '' %} d-none {% endif %}">
                    <div class="col-6">
                        <label for="teams">Teams assigned</label>
                    </div>
                    <div class="col-6">
                        <select name="teams" id="teams" class="form-control select2" multiple>
                            <option value=""></option>
                            {% for i in teams %}
                            {% if user[8] is not none and i[0]|string  in user[8] %}
                            <option value="{{i[0]}}" selected="true">{{i[1]}}</option>
                            {% else %}
                            <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-6">
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="confirm_password">Confirm password</label>
                    </div>
                    <div class="col-6">
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control">
                    </div>
                </div>
                
                

                {% if user[3]|string() == 'Custom' %}
                <div class="row mx-0 mb-3 form-group">
                <div class="col-12 mb-4">
                    <label for="confirm_password">Permissions</label>
                </div>
                {% for permission in permissions %}
                <div class="col-6">
                    <label class="container">{{permission}}
                        <input type="checkbox" {% if user[6] != None and permission in user[6].split(',') %} checked {% endif %} value="{{permission}}" name="permissions">
                        <span class="checkmark"></span>
                    </label>
                    
                </div>
                {% endfor %}
                </div>
                {% endif %}

                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-dark btn-block bg-indigo text-white ">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<style>
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #002849;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 3px;
        width: 7px;
        height: 16px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

</style>


{% endblock %}

{% block script %}
<script>
    $("#projects").on('change',function(){
        if ($("#projects").val().includes('Clear')) {
            console.log('')
            $("#projects").val('').trigger('change')
        }
    })
</script>

{% endblock %}