{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <form action="/edit_procurement" method="post">
                <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                    <div class="col-12">
                        <h4>Edit procurement</h4>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <input type="hidden" name="procurement_id" value="{{request.args['procurement_id']}}">
                    <input type="hidden" name="project_id" value="{{data[4]}}">
                    <div class="col-6">
                        <label for="material">Material</label>
                    </div>
                    <div class="col-6">
                        <span class="edit-procurement-material d-none">{{data[1]}}</span>
                        <select name="material" id="material" class="form-control material-select select2" required>
                            <option value=""></option>
                            {% for i in materials %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}                            
                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-6">
                        <input name="description" id="description" class="form-control" value="{{data[2]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="vendor">Vendor</label>
                    </div>
                    <div class="col-6">
                        <div class="">{{data[3]}}</div>                         
                    </div>
                </div>                
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="po_no">PO number</label>
                    </div>
                    <div class="col-6">
                        <input type="text" name="po_no" id="po_no" class="form-control" value="{{data[5]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="invoice_no">Invoice number</label>
                    </div>
                    <div class="col-6">
                        <input name="invoice_no" id="invoice_no" class="form-control" value="{{data[6]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="invoice_date">Invoice date</label>
                    </div>
                    <div class="col-6">
                        <input type="date" name="invoice_date" id="invoice_date" value="{{data[7]}}" class="form-control" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="photo_date">Photo date</label>
                    </div>
                    <div class="col-6">
                        <input type="date" name="photo_date" id="photo_date" class="form-control" value="{{data[15]}}" required>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="quantity">Quantity</label>
                    </div>
                    <div class="col-6">
                        <input name="quantity" id="quantity" class="form-control" value="{{data[9]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="unit">Unit</label>
                    </div>
                    <div class="col-6">
                        <span class="edit-procurement-unit d-none">{{data[10]}}</span>
                        <select name="unit" id="unit" class="form-control select2" required>
                            <option value=""></option>
                            <option value="Bags">Bags</option>
                            <option value="CFT">CFT</option>
                            <option value="CUM">CUM</option>
                            <option value="Load">Load</option>
                            <option value="Kg">Kg</option>
                            <option value="MT">MT</option>
                            <option value="Nos">Nos</option>
                            <option value="Box">Box</option>
                            <option value="Others">Others</option>
                        </select>

                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="rate">Rate</label>
                    </div>
                    <div class="col-6">
                        <input name="rate" id="rate" class="form-control" value="{{data[11]}}" required>
                    </div>
                </div>
                
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Transportation cost</label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="transportation" name='transportation' value="{{data[16]}}" class="form-control"></input>
                    </div>
                </div>
                
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Loading Unloading cost</label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="loading_unloading" name='loading_unloading' value="{{data[17]}}" class="form-control"></input>
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="gst">GST</label>
                    </div>
                    <div class="col-6">
                        <span class="edit-procurement-gst d-none">{{data[12]}}</span>
                        <select name="gst" id="gst" class="form-control select2" required>
                            <option value=""></option>
                            <option value="0">0%</option>
                            <option value="5">5%</option>
                            <option value="12">12%</option>
                            <option value="18">18%</option>
                            <option value="28">28%</option>
                        </select>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="total_amount">Total Amount</label>
                    </div>
                    <div class="col-6">
                        <input readonly name="total_amount" id="total_amount" class="form-control" value="{{data[13]}}" required>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="difference_cost">Difference cost</label>
                    </div>
                    <div class="col-6">
                        <input name="difference_cost" id="difference_cost" class="form-control" value="{{data[14]}}" required>
                    </div>
                </div>

                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-dark btn-block bg-indigo text-white">Update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}