{% extends 'layout.html' %}
{% block content %}
<div class="row mx-3 mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="col-12">
        <h4>Expenses</h4>
    </div>
</div>
<div class="my-5 w-100">
    <div class="row mx-3 pb-4">
        <div class="col-sm-12 col-md-4 pl-0 pr-2 mb-2">
            <select name="project" id="project" class="form-control select2">
                <option value=""></option>
                {% for i in projects %}
                {% if i[0]|string() == request.args['project_id']|string() %}
                <option value="{{i[0]}}" selected>{{i[1]}}</option>
                {% else %}
                <option value="{{i[0]}}">{{i[1]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
       
        <button id="get_expenses" class="btn text-white bg-indigo  mb-2">Get expenses</button>
    </div>
    <div class="w-100 p-3 overflow-x-auto col-md-6 ">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Metric</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for metric in data %}
                <tr>
                    <td class="metric_name">{{ metric }}</td>
                    <td class="spin_up" data-value="{{ data[metric] }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

<style>
    .metric_name {
        text-transform: capitalize;
    }

    td {
        font-size: 11px;
        font-weight: 500;
        padding: 0.5rem;
        border: 1px solid #dee2e6
    }

    th {
        font-size: 11px;
        padding: 0.5rem;
        border: 1px solid #dee2e6
    }
</style>

{% endblock %}