{% extends 'layout.html' %}
{% block content %}
<div class='mt-5 w-100 row mx-0'>    
    <div class="col-12 bg-white rounded py-4 px-3 border-radius-10 fw-100">
        <div class="fs-18">Welcome back, {{session['name']}}!</div>
        <div>Role: {{session['role']}} </div>
    </div>
    <div class="px-0 pr-md-2 col-sm-12 col-md-6 col-lg-4">
        <div class="mt-3 bg-white rounded p-3">
            <div class="fs-16 fw-500 mb-1 border-bottom pb-2 d-inline border-dark">Projects <span class="fs-12">(<span class="spin_up" data-value="{{projects|length}}"></span>)</span></div> 
            <div class="dashboard-card mt-3">
            {% for i in projects %}
            <div class="py-2">{{i[1]}}</div>
            {% endfor %}
            </div>
         </div>
    </div>
    
    <div class="px-0 px-lg-2 col-sm-6 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-warning spin_up fs-60" data-value="{{vendor_count}}"></span>
            <div class="mt-2 fs-16">Vendors</div>
        </div>
        
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-primary spin_up fs-60" data-value="{{contractor_count}}"></span>
            <div class="mt-2 fs-16">Contractors</div>
        </div>
    </div>
    
    <div class="px-0 pr-md-0 px-lg-2 col-sm-6 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-danger spin_up fs-60" data-value="{{work_orders_count}}"></span>
            <div class="mt-2 fs-16">Work orders</div>
        </div>
        
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-success spin_up fs-60" data-value="{{approved_pos_count}}"></span>
            <div class="mt-2 fs-16">Approved POS</div>
        </div>
    </div>

    <div class="px-0 pl-lg-2 pr-md-2 col-sm-6 col-md-3 col-lg-4 d-flex flex-column justify-content-between">
        <div class="flex-grow-1 d-flex flex-column justify-content-center mt-3 bg-white rounded p-3 text-center">
            <span class="text-indigo spin_up fs-60" data-value="{{dpr_count}}"></span>
            <div class="mt-2 fs-16">DLR/DPR updates</div>
        </div>
    </div>

    <div class="col-md-6 col-12 px-0 pr-md-2 my-3">
        <div class="dashboard-card bg-white rounded p-3">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Metric</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for metric in total_material_spend %}
                    <tr>
                        <td class="metric_name">{{ metric }}</td>
                        <td class="spin_up" data-value="{{ total_material_spend[metric] }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="chart" style="max-width:100%; height:400px"></div>

        </div>
    </div>
    

</div>
<script
src="https://www.gstatic.com/charts/loader.js">
</script>
<!-- <script src="https://js.pusher.com/7.2/pusher.min.js"></script> -->
<script>

// Enable pusher logging - don't include this in production
// Pusher.logToConsole = true;

// var pusher = new Pusher('1ba2990f11546fc4bd80', {
//     cluster: 'ap2'
// });

// var channel = pusher.subscribe('my-channel');
// channel.bind('my-event', function(data) {
//     alert(JSON.stringify(data));
// });

google.charts.load('current',{packages:['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

    var graphData = [['Month','Spend']];

    var metrics = document.getElementsByClassName('metric_name')
    for(const metricElement of metrics) {
        metric_name = metricElement.innerHTML
        metric_value = parseInt(metricElement.nextElementSibling.getAttribute("data-value"))
        graphData.push([metric_name, metric_value])
    } 

    var data = google.visualization.arrayToDataTable(graphData);

    var options = {
        title: 'World Wide Wine Production'
    };

    var chart = new google.visualization.BarChart(document.getElementById('chart'));
    chart.draw(data, options);

}




</script>
<style>
    .flex-grow-1 {
        flex-grow: 1;
    }
    .dashboard-card {
        height: 300px;
        overflow: auto;
    }
    .metric_name {
        text-transform: capitalize;
    }
</style>
{% endblock %}