{% extends 'layout.html' %}
{% block content %}
<div class='mt-5 w-100 row mx-0'>    
    <div class="col-12 bg-white rounded py-4 px-3 border-radius-10 fw-100">
        <div class="fs-18">Welcome back, {{session['name']}}!</div>
        <div>Role: {{session['role']}} </div>
    </div>
    <div class="pl-0 col-sm-12 col-md-6 col-lg-4">
        <div class="mt-3 bg-white rounded p-3">
            <div class="fs-16 fw-500 mb-1 border-bottom pb-2 d-inline border-dark">Projects <span class="fs-12">(<span class="spin_up" data-value="{{projects|length}}"></span>)</span></div> 
            <div class="dashboard-card mt-3">
            {% for i in projects %}
            <div class="py-2">{{i[1]}}</div>
            {% endfor %}
            </div>
         </div>
    </div>
    
    <div class="col-sm-6 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-warning spin_up fs-60" data-value="{{vendor_count}}"></span>
            <div class="mt-2 fs-16">Vendors</div>
        </div>
        
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-primary spin_up fs-60" data-value="{{contractor_count}}"></span>
            <div class="mt-2 fs-16">Contractors</div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-danger spin_up fs-60" data-value="{{work_orders_count}}"></span>
            <div class="mt-2 fs-16">Work orders</div>
        </div>
        
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-success spin_up fs-60" data-value="{{approved_pos_count}}"></span>
            <div class="mt-2 fs-16">Approved POS</div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
        <div class="flex-grow-1 mt-3 bg-white rounded p-3 text-center">
            <span class="text-secondary spin_up fs-60" data-value="{{dpr_count}}"></span>
            <div class="mt-2 fs-16">DLR/DPR updates</div>
        </div>
        
        
    </div>
    

</div>

<!-- <script src="https://js.pusher.com/7.2/pusher.min.js"></script> -->
<script>

// Enable pusher logging - don't include this in production
// Pusher.logToConsole = true;

// var pusher = new Pusher('1ba2990f11546fc4bd80', {
//     cluster: 'ap2'
// });

// var channel = pusher.subscribe('my-channel');
// channel.bind('my-event', function(data) {
//     alert(JSON.stringify(data));
// });
</script>
<style>
    .flex-grow-1 {
        flex-grow: 1;
    }
    .dashboard-card {
        height: 300px;
        overflow: auto;
    }
</style>
{% endblock %}