{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-0 px-3 pb-4">
        <div class="col-sm-12 col-md-4 pl-0 pr-2 mb-2">
            <select name="project" id="project" class="form-control select2">
                <option value=""></option>
                {% for i in projects %}
                <option value="{{i[0]}}">{{i[1]}}</option>
                {% endfor %}
            </select>
        </div>
        <button id="update_kyp_material" class="btn text-white bg-indigo  mb-2">View quantity chart</button>
    </div>

    {% if project is not none %}
    <form class="my-3 w-100" action="/erp/kyp_material" method="post">
        <div class="mx-auto mt-4 col-sm-10 col-md-8 p-3 bg-light">Total material quantities for project {{project}}</div>
        <input type="hidden" name="project_id" value="{{project_id}}">
        <div class="row m-3 justify-content-center mt-4 ">
            <div class="col-sm-10 col-md-8 p-3 bg-light">
                {% for i in material_quantity_data %}
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="{{i}}">{{i}}</label>
                    </div>
                    <div class="col-6">
                        <input type="text" name="{{i}}" id="{{i}}" class="form-control"
                               value="{{material_quantity_data[i]}}">
                    </div>
                </div>
                {% endfor %}
                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-block bg-indigo text-white">Submit</button>
                    </div>
                </div>
            </div>
        </div>


    </form>
    {% endif %}

</div>

{% endblock %}