<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>{% block title %}buildAhome | ERP{% endblock %}</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon"/>
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">

    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../lib/animate/animate.min.css" rel="stylesheet">


    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

</head>

<body>
<div class="w-100 py-1 bg-indigo text-white d-flex mb-4 top-0 position-fixed">
    <btn class="btn text-white mobile-menu-icon p-3 my-auto">
        <i class=" fa fa-bars text-white"></i>
    </btn>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="" class="mr-3" width="80">
    <h6 class="text-white my-auto">buildAhome</h6>
    <div class="ml-auto d-none d-md-block my-auto">
        <a href="/erp" class="btn text-white h6">HOME</a>
    </div>
    <div class="d-none d-md-block my-auto">
        <a href="/erp/logout" class="btn text-white h6">LOGOUT</a>
    </div>

</div>
<div class="position-fixed sidebar p-3 bg-indigo">

    <div class="nav-section-header">Project</div>
    {% if session['role'] in ['Super Admin','COO','Sales Executive','Billing','Planning'] %}
    <a href="/erp/create_project" class='nav-link {% if "create_project" in request.path %} active {% endif %}'>Create
        project</a>
    {% endif %}

    {% if session['role'] in ['Super Admin','Billing'] %}
    <a href="/erp/unapproved_projects"
       class='nav-link {% if "unapproved_projects" in request.path %} active {% endif %}'>Unapproved projects</a>
    {% endif %}

    <a href="/erp/archived_projects" class='nav-link {% if "archived_projects" in request.path %} active {% endif %}'>Archived
        Projects</a>
    <a href="/erp/projects"
       class='nav-link {% if "/projects" in request.path and "/projects_" not in request.path %} active {% endif %}'>Projects</a>

    {% if session['role'] in ['Super Admin','COO','Billing'] %}
    <div class="nav-section-header ">Users</div>
    <a href='/erp/create_user {% if "/create_user" in request.path %} active {% endif %}' class='nav-link'>Create
        user</a>
    <a href='/erp/view_users {% if "/view_users" in request.path %} active {% endif %}' class='nav-link'>View users</a>
    {% endif %}

    {% if session['role'] in ['Super Admin','COO','Purchase Head','Purchase Executive','Purchase info'] %}
    <div class="nav-section-header">Material</div>
    <a href="/erp/vendor_registration"
       class='nav-link {% if "/vendor_registration" in request.path %} active {% endif %}'>Vendor Registration</a>
    <a href="/erp/view_vendors" class='nav-link {% if "/view_vendors" in request.path %} active {% endif %}'>View
        Vendors</a>
    <a href="/erp/enter_material" class='nav-link {% if "/enter_material" in request.path %} active {% endif %}'>Enter
        Material</a>
    <a href="/erp/kyp_material" class='nav-link {% if "/kyp_material" in request.path %} active {% endif %}'>KYP For
        material</a>
    <a href="/erp/view_inventory" class='nav-link {% if "/view_inventory" in request.path %} active {% endif %}'>View
        inventory</a>
    <a href="/erp/shifting_entry" class='nav-link {% if "/shifting_entry" in request.path %} active {% endif %}'>Shifting
        Entry</a>
    {% endif %}

    {% if session['role'] in ['Super Admin','COO','Purchase Head','Purchase Executive','QS Engineer','QS Head','QS Info'] %}
    <div class="nav-section-header">Indents</div>
    <a href="/erp/view_qs_approval_indents"
       class='nav-link {% if "/view_qs_approval_indents" in request.path or "/indent_details" in request.path %} active {% endif %}'>Indents for QS</a>
    <a href="/erp/view_approved_indents"
       class='nav-link {% if "/view_approved_indents" in request.path %} active {% endif %}'>Indent for Purchase</a>
    <a href="/erp/view_approved_POs" class='nav-link {% if "/view_approved_POs" in request.path %} active {% endif %}'>Unapproved POs</a>
    <a href="/erp/view_ph_approved_indents" 
        class='nav-link {% if "/view_ph_approved_indents" in request.path %} active {% endif %}'>Approved indents</a>

    {% endif %}

    {% if session['role'] in ['Super Admin','COO','QS Head','QS Engineer'] %}

    <div class="nav-section-header">Work orders</div>
    <a href="/erp/contractor_registration"
       class='nav-link {% if "/contractor_registration" in request.path %} active {% endif %}'>Contractor
        Registration</a>
    <a href="/erp/view_contractors" class='nav-link {% if "/view_contractors" in request.path  or "/edit_contractor" in request.path %} active {% endif %}'>View
        Contractors</a>
    <a href="/erp/create_work_order" class='nav-link {% if "/create_work_order" in request.path %} active {% endif %}'>Create
        work order</a>
    <a href="/erp/view_unsigned_work_order"
       class='nav-link {% if "/view_unsigned_work_order" in request.path %} active {% endif %}'>Unsigned work order</a>

    {% if session['role'] in ['Super Admin','COO'] %}
    <a href="/erp/view_unapproved_work_order"
       class='nav-link {% if "/view_unapproved_work_order" in request.path %} active {% endif %}'>Unapproved work
        order</a>
    {% endif %}

    <a href="/erp/view_work_order" class='nav-link {% if "/view_work_order" in request.path or "/project_contractor_info" in request.path %} active {% endif %}'>View
        work order</a>
    {% endif %}

    {% if session['role'] in ['Super Admin','COO','QS Head','QS Engineer'] %}
    <div class="nav-section-header">Bills</div>
    <a href="/erp/create_bill" class='nav-link {% if "/create_bill" in request.path %} active {% endif %}'>Create
        bill</a>

    {% if session['role'] in ['Super Admin','COO','QS Head'] %}
    <a href="/erp/view_bills" class='nav-link {% if "/view_bills" in request.path %} active {% endif %}'>Unapproved
        bills</a>
    {% endif %}

    <a href="/erp/view_approved_bills"
       class='nav-link {% if "/view_approved_bills" in request.path %} active {% endif %}'>Approved bills</a>
    <a href="/erp/view_archived_bills"
       class='nav-link {% if "/view_archived_bills" in request.path %} active {% endif %}'>Archived bills</a>
    {% endif %}

    {% if session['role'] in ['Super Admin','COO','Design Head','Senior Architect','Architect','Structural Designer',
    'Electrical
    Engineer', 'PHE Designer'] %}
    <div class="nav-section-header">Design team</div>
    <a href="/erp/drawings" class='nav-link {% if "/drawings" in request.path %} active {% endif %}'>Drawings</a>
    <a href="/erp/revised_drawings" class='nav-link {% if "/revised_drawings" in request.path %} active {% endif %}'>Revised
        Drawings</a>
        <a href="/erp/view_drawings_requests" class='nav-link {% if "/view_drawings_requests" in request.path %} active {% endif %}'>Drawing requests</a>
        
<!--    {% if session['role'] in ['Super Admin','COO','Design Head'] %}-->
<!--    <a href="/erp/projects_with_design_team"-->
<!--       class='nav-link {% if "/projects_with_design_team" in request.path %} active {% endif %}'>Assigned projects</a>-->
<!--    {% endif %}-->
<!--    {% if session['role'] in ['Super Admin','COO','Design Head'] %}-->
<!--    <a href="/erp/projects_with_no_design_team"-->
<!--       class='nav-link {% if "/projects_with_no_design_team" in request.path %} active {% endif %}'>Unassigned-->
<!--        project</a>-->
<!--    {% endif %}-->

    {% endif %}

    <div class="nav-section-header">Account</div>
    <a href="/erp/profile" class='nav-link {% if "/profile" in request.path %} active {% endif %}'>Profile</a>
    <a href="/erp/logout" class="nav-link">Logout</a>

<!--    {% if session['role'] in ['Super Admin','COO','Planning'] %}-->
<!--    <div class="nav-section-header">Operations team</div>-->
<!--    <a href="/erp/projects_with_operations_team"-->
<!--       class='nav-link {% if "/projects_with_operations_team" in request.path %} active {% endif %}'>Assigned-->
<!--        projects</a>-->
<!--    <a href="/erp/projects_with_no_operations_team"-->
<!--       class='nav-link {% if "/projects_with_no_operations_team" in request.path %} active {% endif %}'>Unassigned-->
<!--        project</a>-->
<!--    {% endif %}-->

</div>

<div class="main-wrapper  pr-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class='flashes m-2'>
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
<!-- Production version -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
        crossorigin="anonymous "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
        crossorigin="anonymous "></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='project.js') }}"></script>
<script src="{{ url_for('static', filename='erp.js') }}"></script>
<script src="{{ url_for('static', filename='inventory.js') }}"></script>
{% block scripts %}{% endblock %}

</body>