{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <form action="/erp/mobile_app_banner"  method="post"  enctype="multipart/form-data">

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Current image for banner</label>
                    </div>
                    <div class="col-6">
                        <img src="/files/mobile_banner.png" width="300" height="300" alt="">
                    </div>
                </div>

                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label for="banner">Upload banner</label>
                    </div>
                    <div class="col-6">
                        <input type="file" name="banner" id="banner" class="form-control" required>
                    </div>
                </div>

                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-block bg-indigo text-white ">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}