{% extends 'layout.html' %}
{% block content %}
<style>
    .internal-indicator {
        height: 12px;
        width: 12px;
        background-color: blue;
        border-radius: 50%;
    }
</style>
<div class=" mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="w-100">
        <h4>Notes and comments</h4>
    </div>
</div>
<div class="my-5 w-100">
    <div class="row mx-3 pb-4">
        <div class="col-sm-12 col-md-4 pl-0 pr-2 mb-2">
            <select name="project" id="project" class="form-control select2">
                <option value=""></option>
                {% for i in projects %}
                {% if i[0]|string() == request.args['project_id']|string() %}
                <option value="{{i[0]}}" selected>{{i[1]}}</option>
                {% else %}
                <option value="{{i[0]}}">{{i[1]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <button id="get_notes" class="btn text-white bg-indigo  mb-2">Get notes and comments</button>
    </div>
    <div class="w-100 p-3 overflow-x-auto">
        {% if notes is not none %}
        <form action="/erp/project_notes" method="post" enctype="multipart/form-data">
            <input type="hidden" name="project_id" value="{{request.args['project_id']}}">

            <div class="row mx-0 mb-3 form-group p-0">
                <div class="col-12 p-0">
                    <label for="note">Add new Note</label>
                </div>
                <div class="col-12 p-0">
                    <textarea name="note" id="note" class="form-control" required></textarea>
                </div>
                <div class="col-12 p-0 d-flex  mb-3">
                    <input type="checkbox" name="internal" class="mr-2"> Internal note?
                </div>
            </div>
            
            <div class="row mx-0 mb-3 form-group  p-0">
                <div class="col-12 p-0">
                    <label for="file">Add attachment</label> <small>(Optional)</small>
                </div>
                <div class="col-12 p-0">
                    <input type="file" name="file" id="file">
                </div>
            </div>


            <div class="row mx-0 mb-5">
                <div class="col-6 p-0">
                    <button class="btn btn-dark bg-indigo text-white">Submit</button>
                </div>
            </div>
        </form>
        {% for i in notes %}
        <div class="bg-light my-3 border-left border-dark p-2">
            <p class="mb-0 d-flex" style="font-weight: 500;">
                {% if i[5]|string == '1' %}
                <span class="internal-indicator my-auto mr-2"></span>
                {% endif %}
                
                {{i[2]}} at {{i[1]}} :</p>
            <p style="white-space: break-spaces">{{i[0]}}</p>
            {% if i[4]|string != '0' %}
            <a target="_blank" href="https://app.buildahome.in/erp/files/{{i[4]}}">View attachment</a>
            {% endif %}

            
            {% if session['role'] in ['Super Admin','COO'] %}
            <a href="/erp/delete_note?id={{i[3]}}" class="text-danger">Delete</a>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<style>
    p {
        font-size: 12px;
    }
</style>

{% endblock %}