{% extends 'layout.html' %}
{% block content %}
<div class="row mx-5 mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="col-12">
        <h4>Approved POs</h4>
    </div>
</div>
<style>
    .search-project-field {
        font-size: 12px;
        border-radius: 5px;
        background: #f9f9f9;
        border: 1px solid #ffffff;
        padding: 10px 15px;
    }
</style>
<div class="row m-0 justify-content-end">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <input type="text" class="form-control search-po-field" placeholder="Search project">
    </div>
</div>
<div class="p-5 w-100 table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Indent Id</th>
            <th scope="col">Material</th>
            <th scope="col">Quantity</th>
            <th scope="col">Created by</th>
            <th scope="col">Time</th>
            <th scope="col">PO Number</th>
            <th scope="col"></th>
            <th scope="col">Billed</th>
        </tr>
        </thead>
        <tbody>
        {% for x in projects %}
            <tr style="border-top: 2px solid black; padding-top: 40px !important">
                <td class="project-name">{{x}}</td>
            </tr>
            {% for i in projects[x] %}
            <tr class="bill-{{i['bill_id']}}">
                <td><b>{{i[0]}}</b></td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}} {{i[5]}}</td>
                <td>{{i[7]}}</td>
                <td>{{i[8]}}</td>
                <td>{{i[10]}}</td>
                <td><a href="/erp/view_indent_details?indent_id={{i[0]}}">
                    <i class="fa fa-external-link"></i>
                </a></td>
                <td>
                    {% if i[9] == 1 %}
                    <div class="indicator bg-success"></div>
                    {% else %}
                    <div class="indicator bg-danger"></div>
                    {% endif %}
                </td>
    
            </tr>
            {% endfor %}    
        {% endfor %}
        
        </tbody>
    </table>


</div>
<style>
    .indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .table td, .table th {
        vertical-align: middle;
    }
</style>
{% endblock %}