{% extends 'layout.html' %}
{% block content %}
<div class=" mt-5 px-5">
    <div class="mb-3">
        <b>Project</b>: {{project[0]}}
    </div>
    <div class="d-none work_order_id">{{data['work_order_id']}}</div>
    <div class="d-none project_id">{{request.args['project_id']}}</div>
    <div class="mb-3">
        <b>Contractor Name</b>: <span class="contractor_name">{{data['name']}}</span>
    </div>
    <div class="mb-3">
        <b>Contractor Code</b>: <span class="contractor_code">{{data['code']}}</span>
    </div>
    <div class="mb-3">
        <b>Contractor PAN</b>: <span class="contractor_pan">{{data['pan']}}</span>
    </div>
    <div class="mb-3">
        <b>Nature of work</b>: <span class="trade">{{data['trade']}}</span>
    </div>
    <div class="mb-3">
        <b>WO value</b>: {{data['value']|int}}
    </div>
    
    <div class="mb-3">
        <b>Total paid</b>: <span class="total_paid"></span>
    </div>
    <div class="mb-3">
        <b>Total billed</b>: <span class="total_billed"></span>
    </div>
    <div class="mb-3">
        <b>Balance</b>: <span class="balance"></span>
    </div>
    <div class="mb-3">
        <button class="btn clear-balance-btn d-none">Clear balance</button>
        <div class="clear-balance-bill-raised d-none">Clear balance bill has been raised and is due for approval</div>
    </div>

</div>
<div class="p-5 w-100 table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>


            <th scope="col">Description</th>
            <th scope="col">%</th>
            <th scope="col">Total Payable</th>
            <th scope="col">Approved amount</th>
            <th scope="col">Approved on</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for i in bills %}
        <tr>

            <td class="stage">{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td class="billed_amount">{{i[2]|int}}</td>
            <td class="approved_amount">{{i[3]|int}}</td>
            <td>
                {% if i[4] != 'None' %}
                {{i[5]}}
                {% endif %}
            </td>
            <td>
                {% if '0' in i[6]|string %}
                <span class="clear-individual-balance btn text-primary d-none">Clear balance</span>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
<style>
    .clear-individual-balance {
        font-size: 12px;
        font-weight: 500;
    }
</style>
{% endblock %}