{% extends 'layout.html' %}
{% block content %}
<div class="p-5 w-100 table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Project id</th>
            <th scope="col">Project Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td>{{project[0]}}</td>
            <td>{{project[1]}}</td>
             <td>
                <a href="/erp/edit_design_team?project_id={{project[0]}}&&project_name={{project[1]}}">Edit team</a>
            </td>
        </tr>
        {% endfor %}


        </tbody>
    </table>


</div>
{% endblock %}