{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-0 px-3 pb-4">
        <div class="col-sm-12 col-md-4 pl-0 pr-2 mb-2">
            <select name="project" id="project" class="form-control select2">
                <option value=""></option>
                {% for i in projects %}
                {% if i[0]|string() == request.args['project_id']|string() %}
                <option value="{{i[0]}}" selected>{{i[1]}}</option>
                {% else %}
                <option value="{{i[0]}}">{{i[1]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <button id="view_revised_drawings" class="btn text-white bg-indigo  mb-2">Get revised drawings</button>
    </div>

    {% if drawings is not none %}

    <div class="p-5 w-100 table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Drawing Name</th>
                <th scope="col">Drawing Type</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for i in drawings %}
            <tr>
                <td>{{i[1].replace('_',' ').capitalize()}}</td>
                <td>{{i[4]}}_{{i[2]}}</td>
                <td>
                    {% for x in i[3].split('||') %}
                    <a class="d-block" target="_blank" href="/erp/files/{{x}}">View</a>
                    {% endfor %}
                </td>

            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>

{% endblock %}