{% extends 'layout.html' %}
{% block content %}
<div class="row mx-5 mt-5 mb-3 pb-2 pl-0 form-group">
    <div class= "pl-0 col-12">
        <h4>Checklist</h4>
    </div>
</div>


<div class="p-5 w-100 table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">bAh Approval</th>
                <th scope="col">Client Approval</th>
            </tr>
            </thead>
        <tbody>
        {% for i in data %}
        <tr>
            <td>{{i[1]}}</td>
            <td>
                {%if i[2] is not none and i[2] !=0 %}
                    <span class="text-success">Approved by bAh on {{i[4]}}</span>
                {% else %}
                    {% if session['role'] in ['Super Admin','COO','Design Head','Planning','Billing'] %}
                        <a onclick="return confirm('Are you sure')" href="/erp/update_project_checklist_item?project_id={{request.args['project_id']}}&checklist_item_id={{i[0]}}">Mark as approved</a>
                    {% endif %}
                {% endif %}
            </td>
            <td>{%if i[3] is not none and i[3]|string !='0' %}Approved by Client on {{i[5]}}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}