{% extends 'layout.html' %}
{% block content %}
<div class="p-5 w-100 table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Vendor Name</th>
            <th scope="col">Vendor PAN</th>
            <th scope="col">Vendor Code</th>
            <th scope="col">Trade</th>
            <th scope="col">Payment Stage</th>
            <th scope="col">Total Payable</th>
            <th scope="col">Approved amount</th>
        </tr>
        </thead>
        <tbody>
        {% for project in data %}
        <tr class="bg-white">
            <td class="border border-white"></td>
        </tr>
        <tr class="h5 mt-4 mb-2 border border-white bg-white">
            <td>{{data[project]['project_name']}}</td>
        </tr>
        {% for i in data[project]['bills'] %}
        <tr class="bill-{{i['bill_id']}}">
            <td class="vendor_name border-right">{{i['vendor_name']}}</td>
            <td class="vendor_pan border-right">{{i['vendor_pan']}}</td>
            <td class="vendor_code border-right">{{i['vendor_code']}}</td>
            <td class="trade border-right">{{i['trade']}}</td>
            <td class="stage border-right">{{i['stage']}}</td>
            <td class="total_payable border-right">{{i['total_payable']}}</td>
            <td class="approval_2 ">{{i['approval_2_amount']}}</td>
        </tr>
        {% endfor %}
        {% endfor %}


        </tbody>
    </table>


</div>
{% endblock %}