{% extends 'layout.html' %}
{% block content %}
<div class="row mx-5 mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="col-12">
        <h4>Contractors</h4>
    </div>
</div>
<div class="pl-3 p-md-5 m-0 w-100 row">
    {% for contractor in contractors %}
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="h-100 border border-radius-10 bg-light p-3 overflow-hidden">
            <div class="d-flex">
                <div class="mb-auto mr-4">
                    <img alt="" height="80" width="80"
                         onerror="this.src='/erp/static/profile_picture.PNG'"
                         data-src="/erp/files/contractor_dp_{{contractor[0]}}"
                         src="./static/profile_picture.PNG" alt=""
                         class="contractor-profile-picture"
                         style="border-radius: 50%">

                </div>
                <div class="my-auto">
                    <div class="mb-4 fs-18">{{contractor[1]}}</div>
                    <div class="mb-2 fs-12"><b>Code</b>: {{contractor[2]}}</div>
                    <div class="mb-2 fs-12"><b>Trade</b>: {{contractor[6]}}</div>
                    <div class="mb-2 fs-12"><b>PAN</b>: {{contractor[3]}}</div>
                    <div class="mb-2 fs-12"><b>Phone</b>: {{contractor[4]}}</div>

                </div>
            </div>
            <div class="mt-2">
                <div class="mb-2 fs-12"><b>Aadhar</b>: {{contractor[7]}}</div>
                <div class="mb-2 fs-12"><b>Address</b>: {{contractor[5]}}</div>
            </div>
            <div class="d-flex mt-3 justify-content-end">
                <a href="/erp/edit_contractor?contractor_id={{contractor[0]}}">Edit</a>
                <a onclick="return confirm('Are you sure you want to delete?');"
                   href="/erp/delete_contractor?contractor_id={{contractor[0]}}" class="text-danger ml-4">Delete</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}