{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                <div class="col-12">
                    <h4>View project</h4>
                </div>
            </div>
            {% for i in details %}
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    {% if i=='Is Approved' %}
                    <label for="{{i}}">Approval Status</label>
                    {% else %}
                    <label for="{{i}}">{{i}}</label>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if i=='Elevation Details' or i=='Additional Cost' %}
                    {% for x in details[i].split(' &# ') %}
                        <div>{{x}}</div>
                    {% endfor %}
                    {% elif i=='Cost Sheet'  %}
                    <a style="word-break: break-all;" target="_blank" href="/erp/files/{{details[i]}}">{{details[i]}}</a>
                    {% elif i=='Site Inspection Report'  %}
                    <a style="word-break: break-all;" target="_blank" href="/erp/files/{{details[i]}}">{{details[i]}}</a>
                    {% elif i=='Is Approved' %}
                        {% if  details[i]|string == "0" %}
                        <b>Not approved</b>
                        {% else %}
                        <b>Approved</b>
                        {% endif %}
                    {% else %}
                    {{details[i]}}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% if session['role'] in ['Super Admin','COO','Billing'] %}
            <div class="row mx-0 mb-3 form-group">
                <div class="ml-auto">
                    {% if archived=='0' %}
                    <a href="/erp/archive_project?project_id={{request.args['project_id']}}" class="btn btn-secondary mr-2">Archive</a>
                    {% else %}
                    <a href="/erp/unarchive_project?project_id={{request.args['project_id']}}" class="btn btn-secondary mr-2">Unarchive</a>
                    {% endif %}
                    <a href="/erp/edit_project?project_id={{request.args['project_id']}}" class="btn btn-info mr-2">Edit</a>
                    <a href="/erp/delete_project?project_id={{request.args['project_id']}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            {% endif %}
            {% if approved=='0' %}
            <div class="row justify-content-center mx-0 my-5">
                <div class="col-6">
                    <a class="btn btn-block bg-indigo text-white" href="/erp/approve_project?project_id={{request.args['project_id']}}"
                            onclick="return confirm('Are you sure you want to approve this project')">Approve
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}