{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                <div class="col-12">
                    <h4>View project</h4>
                </div>
            </div>
            {% for i in details %}
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    {% if i=='Is Approved' %}
                    <label for="{{i}}">Approval Status</label>
                    {% else %}
                    <label for="{{i}}">{{i}}</label>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if i=='Location Link' %}
                    <a href="{{details[i]}}" target="_blank">
                        {{details[i]}}</a>
                    {% elif i=='Elevation Details' or i=='Additional Cost' %}
                    {% for x in details[i].split(' &# ') %}
                        <div>{{x}}</div>
                    {% endfor %}
                    {% elif i in ['Cost Sheet','Agreement','Site Inspection Report','Area Statement']  %}
                    <a style="word-break: break-all;" target="_blank" href="/files/{{details[i]}}">{{details[i]}}</a>
                    {% elif i=='Is Approved' %}
                        {% if  details[i]|string == "0" %}
                        <b>Not approved</b>
                        {% else %}
                        <b>Approved</b>
                        {% endif %}
                    {% else %}
                    {{details[i]}}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="row mx-0 mb-3 form-group">
                <div class="ml-auto">
                    {% if session['role'] in ['Super Admin','COO','Billing','Technical Info']  or (session['role'] == 'Custom' and 'Archive project' in session['permission'])  %}
                        {% if hidden=='0' %}
                            <a href="/hide_project?project_id={{request.args['project_id']}}&&project_name={{details[0]}}" class="btn btn-secondary mr-2">Hide</a>
                        {% else %}
                            <a href="/unhide_project?project_id={{request.args['project_id']}}&&project_name={{details[0]}}" class="btn btn-secondary mr-2">Unhide</a>
                        {% endif %}
                    {% endif %}
                    {% if session['role'] in ['Super Admin','COO','Billing','Technical Info']  or (session['role'] == 'Custom' and 'Archive project' in session['permission'])  %}
                        {% if archived=='0' %}
                            <a href="/archive_project?project_id={{request.args['project_id']}}&&project_name={{details[0]}}" class="btn btn-secondary mr-2">Archive</a>
                        {% else %}
                            <a href="/unarchive_project?project_id={{request.args['project_id']}}&&project_name={{details[0]}}" class="btn btn-secondary mr-2">Unarchive</a>
                        {% endif %}
                    {% endif %}
                    {% if session['role'] in ['Super Admin','COO','Billing','Technical Info','Planning']  or (session['role'] == 'Custom' and 'Hand over project' in session['permission'])  %}
                        {% if handed_over=='0' %}
                            <a href="/hand_over_project?project_id={{request.args['project_id']}}&&project_name={{details[0]}}" class="btn btn-success mr-2">Hand over</a>
                        {% else %}
                            <a href="/reverse_hand_over_project?project_id={{request.args['project_id']}}&&project_name={{details[0]}}" class="btn btn-warning mr-2">Reverse hand over</a>
                        {% endif %}
                    {% endif %}

                    {% if session['role'] in ['Super Admin','COO','Billing','Technical Info']  or (session['role'] == 'Custom' and 'Edit project' in session['permission'])  %}
                        <a href="/edit_project?project_id={{request.args['project_id']}}" class="btn btn-info mr-2">Edit</a>
                    {% endif %}
                    {% if session['role'] in ['Super Admin','COO','Billing','Technical Info']  or (session['role'] == 'Custom' and 'Delete project' in session['permission'])  %}
                        <a href="/delete_project?project_id={{request.args['project_id']}}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% if session['role'] in ['Super Admin','COO','Billing','Technical Info']  or (session['role'] == 'Custom' and 'Approve project' in session['permission'])  %}
                {% if approved=='0' %}
                    <div class="row justify-content-center mx-0 my-5">
                        <div class="col-6">
                            <a class="btn btn-dark btn-block bg-indigo text-white" href="/approve_project?project_id={{request.args['project_id']}}&&project_name={{details[0]}}"
                                    onclick="return confirm('Are you sure you want to approve this project')">Approve
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}