{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    {% for project in data %}
        <div class="h5 mt-4 mb-2">{{data[project]['project_name']}}</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Vendor Name</th>
                <th scope="col">Vendor PAN</th>
                <th scope="col">Vendor Code</th>
                <th scope="col">Payment Stage</th>
                <th scope="col">Amount</th>
                <th scope="col">Total Payable</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data[project]['bills'] %}
            <tr>
                <td>{{i['vendor_name']}}</td>
                <td>{{i['vendor_pan']}}</td>
                <td>{{i['vendor_code']}}</td>
                <td>{{i['stage']}}</td>
                <td>{{i['amount']}}</td>
                <td>{{i['total_payable']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="font-weight-bold" id="total_difference_cost"></span></td>
            </tr>
            </tbody>
        </table>
    {% endfor %}



</div>

{% endblock %}