{% extends 'layout.html' %}
{% block content %}
<div class="row mx-5 mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="col-12">
        <h4>Work orders</h4>
    </div>
</div>
<div class="my-5 w-100">
    <div class="row mx-0 px-3 pb-4">
        <div class="col-sm-12 col-md-4 pl-0 pr-2 mb-2">
            <select name="project" id="project" class="form-control select2">
                <option value=""></option>
                {% for i in projects %}
                {% if i[0]|string() == request.args['project_id']|string() %}
                <option value="{{i[0]}}" selected>{{i[1]}}</option>
                {% else %}
                <option value="{{i[0]}}">{{i[1]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <button id="view_work_order" class="btn text-white bg-indigo  mb-2">Get work order</button>
    </div>

    {% if work_orders is not none %}

    <div class="p-5 w-100 table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Contractor Name</th>
                <th scope="col">Contractor PAN</th>
                <th scope="col">Contractor Code</th>
                <th scope="col">Trade</th>
                <th scope="col">Value</th>
                <th scope="col">Balance</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for i in work_orders %}
            <tr>
                <td>
                    <a href="/erp/project_contractor_info?trade={{i[4]}}&&project_id={{request.args['project_id']}}&&name={{i[1]}}&&code={{i[3]}}">{{i[1]}}</a>
                </td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]|int}}</td>
                <td>
                    <a style="word-break: break-all;" target="_blank" href="/erp/files/work_order_{{i[0]}}.pdf">
                        View
                    </a>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>

{% endblock %}