{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 pb-4">
        <div class="col-sm-12 col-md-4 pl-0 pr-2 mb-2">
            <select name="project" id="project" class="form-control select2">
                <option value=""></option>
                {% for i in projects %}
                <option value="{{i[0]}}">{{i[1]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-12 col-md-4 pl-0 pr-2 mb-2">
            <select name="material" id="material" class="form-control select2">
                <option value=""></option>
                <option value="Cement">Cement</option>
                <option value="Concrete">Concrete</option>
                <option value="Steel">Steel</option>
                <option value="M Sand">M Sand</option>
                <option value="P Sand">P Sand</option>
                <option value="Aggregates">Aggregates</option>
                <option value="Wall Material">Wall Material</option>
                <option value="Door Window">Door Window</option>
                <option value="Flooring">Flooring</option>
                <option value="Sanitary">Sanitary</option>
                <option value="Hardware">Hardware</option>
            </select>
        </div>
        <button id="get_procurement" class="btn text-white bg-indigo  mb-2">Get procurement</button>
    </div>
    <div class="w-100 p-3 overflow-x-auto">
        {% if procurements is not none %}
        <div class="w-100 mb-3">
            <h4>{{material}} procurement for {{project}}</h4>
        </div>
        {% if materialTotalQuantity is not none %}
        <div class="mb-3">
            <div class="h5" id="total_item_quantity">Total project quantity of {{material}} for project: {{materialTotalQuantity}}</div>
            <div class="h5" id="total_current_quantity"></div>
            <div class="h5" id="total_balance_quantity"></div>
        </div>
        {% endif %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Material</th>
                <th scope="col">Description</th>
                <th scope="col">Vendor</th>
                <th scope="col">PO number</th>
                <th scope="col">Invoice number</th>
                <th scope="col">Invoice date</th>
                <th scope="col">Invoice value</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
                <th scope="col">GST</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Difference cost</th>

            </tr>
            </thead>
            <tbody>
            {% for i in procurements %}
            <tr>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                <td class="item_quantity">{{i[8]}}</td>
                <td>{{i[9]}}</td>
                <td>{{i[10]}}</td>
                <td>{{i[11]}}</td>
                <td>{{i[13]}}</td>
                <td>{{i[12]}}</td>
                <td>{{i[14]}}</td>
                <td class="item_difference_cost">{{i[15]}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
               <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="font-weight-bold" id="total_difference_cost"></span></td>
            </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}