{% extends 'layout.html' %}
{% block content %}
<div class="my-5 w-100">
    <div class="row mx-3 justify-content-center">
        <div class="col-md-8 col-12 bg-light rounded p-3">
            <div class="row mx-0 mb-4 pb-2 border-bottom form-group">
                <div class="col-12">
                    <h4>Indent details</h4>
                </div>
            </div>
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    Indent Id
                </div>
                <div class="col-6">
                    <b>{{result[0]}}</b>
                </div>
            </div>
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    Project
                </div>
                <div class="col-6">
                    <b>{{result[2]}}</b>
                </div>
            </div>
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    Indent for material
                </div>
                <div class="col-6">
                    <b>{{result[3]}}</b>
                </div>
            </div>
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    Requested quantity
                </div>
                <div class="col-6">
                    <b>{{result[4]}} {{result[5]}}</b>
                </div>
            </div>
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    Purpose
                </div>
                <div class="col-6">
                    <b>{{result[6]}}</b>
                </div>
            </div>
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    Indent created by user
                </div>
                <div class="col-6">
                    <b>{{result[7]}}</b>
                </div>
            </div>
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    Indent created on
                </div>
                <div class="col-6">
                    <b>{{result[8]}}</b>
                </div>
            </div>
            {% if result[9] != '' %}
            <div class="row mx-0 mb-3 form-group">
                <div class="col-6">
                    Purchase order
                </div>
                <div class="col-6">
                    <a href="/erp/files/{{result[9]}}" target="_blank">Click here to view purchase order</a>
                </div>
            </div>
            {% endif %}
            
            {% if session['role'] in ['Super Admin','COO','QS Engineer','QS Head'] and result[9]=='approved' %}
            <div class="row mx-0 mt-3 form-group">
                <div class="col-6">
                    QS Approval
                </div>
            </div>
            <a onclick="return confirm('Are you sure you want to approve this indent?')"
             href="/erp/approve_indent_by_qs?id={{result[0]}}" class="ml-3 btn btn-dark bg-indigo text-white">Approve</a>
            {% endif %}

            {% if session['role'] in ['Super Admin','COO','QS Engineer','QS Head'] and result[9]=='po_uploaded' %}
            <div class="row mx-0 mt-3 form-group">
                <div class="col-6">
                    Purchase Head Approval
                </div>
            </div>
            <a onclick="return confirm('Are you sure you want to approve this indent?')"
             href="/erp/approve_indent_by_ph?id={{result[0]}}" class="ml-3 btn btn-dark bg-indigo text-white">Approve</a>
            {% endif %}


            {% if session['role'] in ['Super Admin','COO','Purchase Executive','Purchase Head'] %}
            <form class="mt-3 mx-4" action="/erp/upload_po_for_indent" method="post" enctype="multipart/form-data">
                <input type="hidden" name="indent_id" value="{{result[0]}}">
                <div class="mb-2">Upload purchase order</div>
                <input type="file" name="purchase_order"  accept="application/pdf" required>
                <div class="row justify-content-center mx-0 my-5">
                    <div class="col-6">
                        <button class="btn btn-dark btn-block bg-indigo text-white create_bill">Upload</button>
                    </div>
                </div>
            </form>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}