{% extends 'layout.html' %}
{% block content %}
<div class="alert alert-warning d-none mt-4" id="alert-msg"></div>
<div class="row mx-3 mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="col-12">
        <h4>Inventory</h4>
    </div>
</div>
<div class="my-5 w-100">
    <div class="row mx-3 pb-4">
        <div class="col-sm-12 col-md-2 pl-0 pr-2 mb-2">
            <div class="form-group">
                <label for="vendor">Project</label>
                <select name="project" id="project" class="form-control select2">
                    <option value="">Select project</option>
                    <option {% if request.args['project_id'] == 'All' or 'project_id' not in request.args %} selected {% endif %} value="All">All</option>

                    {% for i in projects %}
                    {% if i[0]|string() == request.args['project_id']|string() %}
                    <option value="{{i[0]}}" selected>{{i[1]}}</option>
                    {% else %}
                    <option value="{{i[0]}}">{{i[1]}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 pl-0 pr-2 mb-2">
            <div class="form-group">
                <label for="vendor">Material</label>
                <select name="material" id="material" class="form-control select2">
                    <option value="">Select material</option>
                    <option {% if request.args['material'] == 'All' or 'material' not in request.args %} selected {% endif %} value="All">All</option>
                    {% for i in materials %}
                    <option {% if i|string() == request.args['material']|string() %} selected {% endif %} value="{{i}}">{{i}}</option>
                    {% endfor %} 

                </select>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 pl-0 pr-2 mb-2">
            <div class="form-group">
                <label for="vendor">Vendor</label>
                <select name="vendor" id="vendor" class="form-control select2">
                    <option value="">Select vendor</option>
                    <option {% if request.args['vendor'] == 'All' or 'vendor' not in request.args %} selected {% endif %} value="All">All</option>
                    {% for i in vendors %}
                    <option {% if request.args['vendor'] == i[0] %} selected {% endif %} value="{{i[0]}}">{{i[0]}}</option>
                    {% endfor %} 
    
                </select>
            </div>
            
        </div>
        
        <div class="col-sm-12 col-md-2 pl-0 pr-2 mb-2">
            <div class="form-group">
                <label for="start-date">Invoice start date</label>
                <input type="text" id="start-date" class="dateInput form-control" name="start-date">
            </div>
            
        </div>
        <div class="col-sm-12 col-md-2 pl-0 pr-2 mb-2">
            <div class="form-group">
                <label for="end-date">Invoice end date</label>
                <input type="text" id="end-date" class="dateInput form-control" name="end-date">
            </div>
            
        </div>
        
    </div>
    
    <button id="get_procurement" class="btn text-white bg-indigo ml-3 mb-2">Get procurement</button>
    {% if session['role'] == 'Super Admin' or (session['role'] == 'Custom' and 'Export view inventory' in session['permission']) %}
    <button class="btn btn-dark bg-indigo text-white ml-3 mb-2 export-btn"
        onclick="exportTableToCSV()">Export
    </button>
    {% endif %}
    <div class="w-100 p-3 overflow-x-auto">
        {% if procurements is not none %}
        {% if request.args['project_id']|string() != 'All' %}

        <div class="w-100 mb-4">
            <h4>{{material}} procurement for {{project}}</h4>
        </div>
        {% if material_total_quantity is not none %}
        <div class="mb-3">
            <div>Total project quantity of {{material}} for project: <span id="total_item_quantity">
                    {{material_total_quantity}} </span></div>
            <div id="total_current_quantity"></div>
            <div id="total_balance_quantity"></div>
        </div>
        {% endif %}
        {% endif %}
        <small>Click on a column header to sort values by that column</small>
        <table class="table table-hover mt-2" id="dataTable">
            <thead>
                <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Material ID</th>
                    <th scope="col">Material</th>
                    <th scope="col">Created on</th>
                    <th scope="col">Description</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">PO number</th>
                    <th scope="col">Invoice number</th>
                    <th scope="col" style="min-width: 100px">Invoice date</th>
                    <th scope="col">Invoice value</th>
                    <th scope="col">Total Quantity</th>
                    <th scope="col">Used Quantity</th>
                    <th scope="col">Balance Quantity</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Transportation</th>
                    <th scope="col">Loading Unloading</th>
                    <th scope="col">GST</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Difference cost</th>
                    {% if session['role'] in ['Super Admin','COO','Purchase Head'] %}
                    <th scope="col"></th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for i in procurements %}
                <tr>
                    <td class="project">{{i[21]}}</td>
                    <td class="material-id">{{i[20]}}/{{i[0]}}</td>
                    <td class="material">{{i[1]}}</td>
                    <td class="created on">{{i[18]}}</td>
                    <td class="description">{{i[2]}}</td>
                    <td class="vendor">{{i[3]}}</td>
                    <td class="po-number">{{i[5]}}</td>
                    <td class="invoice-number">{{i[6]}}</td>
                    <td class="invoice-date">{{i[7]}}</td>
                    <td class="invoice-value">{{i[8]}}</td>
                    <td class="total_quantity">
                        {% if i[1] in material_quantity_data_dict %}
                        {{material_quantity_data_dict[i[1]]}}
                        {% endif %}
                    </td>
                    <td class="item_quantity">{{i[9]}}</td>
                    <td class="balance_quantity"></td>
                    <td class="quantity">{{i[10]}}</td>
                    <td class="unit">{{i[11]}}</td>
                    <td class="rate">{{i[16]}}</td>
                    <td class="transportation">{{i[17]}}</td>
                    <td class="loading-unloading">{{i[12]}}</td>
                    <td class="item_cost">{{i[13]|int}}</td>
                    <td class="item_difference_cost">{{i[14]}}</td>
                    {% if session['role'] in ['Super Admin','COO','Purchase Head'] or (session['role'] == 'Custom' and 'Edit inventory' in session['permission']) %}
                    <td>
                        <a href="/edit_procurement?procurement_id={{i[0]}}">Edit</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="font-weight-bold" id="total_cost"></span></td>
                    <td><span class="font-weight-bold" id="total_difference_cost"></span></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script>
    function updateTotals() {
        let total_cost = 0;
        $('.item_cost:visible').each(function(index, element){
            total_cost += parseFloat($(this).text().trim())
        })
        $("#total_cost").text(total_cost)

        let total_difference_cost = 0;
        $('.item_difference_cost:visible').each(function(index, element){
            total_difference_cost += parseFloat($(this).text().trim())
        })
        $("#total_difference_cost").text(total_difference_cost)
    }
    function compareDates(date1, startDate, endDate) {
        if(startDate == '') {
            return new Date(date1) <= new Date(endDate);    
        } else if (endDate == '') {
            return new Date(date1) >= new Date(startDate)    
        }
        return new Date(date1) >= new Date(startDate) && new Date(date1) <= new Date(endDate);
    }

    // Function to show/hide rows based on the start date
    function filterRowsByDate() {
        var startDate = document.getElementById('start-date').value;
        var endDate = document.getElementById('end-date').value;
        table = document.querySelector('.table');
        var rows = table.getElementsByTagName('tr');

        for (var i = 1; i < rows.length -1; i++) {
            var row = rows[i];
            var dateCell = row.getElementsByTagName('td')[8];
            var rowDate = dateCell.textContent.trim();

            if (compareDates(rowDate, startDate, endDate)) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        }
        updateTotals()
    }

    // Add an event listener to the start date input
    var startDateInput = document.getElementById('start-date');
    startDateInput.addEventListener('change', filterRowsByDate);

    var endDateInput = document.getElementById('end-date');
    endDateInput.addEventListener('change', filterRowsByDate);


    var dateInputs = document.getElementsByClassName('dateInput');
    for (var i = 0; i < dateInputs.length; i++) {
        const dateInput = dateInputs[i]
        // Event listener to change input type to "date" when focused
        dateInput.addEventListener('focus', function () {
            dateInput.type = 'date';
        });

        // Event listener to change input type back to "text" when blurred
        dateInput.addEventListener('blur', function () {
            dateInput.type = 'text';
        });
    }

    // Function to sort the table
    function sortTable(n) {
    var table = document.querySelector('.table');
    var rows = $('#dataTable tr:visible');
    var switching = true;
    var dir = 'asc';
    var switchcount = 0;

    table.style.opacity = '0.3';

    // Split rows into batches of 40
    for (var batchStart = 1; batchStart < rows.length - 1; batchStart += 10) {
        
        var batchEnd = Math.min(batchStart + 10, rows.length - 1);
        console.log(batchStart)
        // Apply sorting to each batch
        while (switching) {
            switching = false;

            for (var i = batchStart; i < batchEnd - 1; i++) {
                var shouldSwitch = false;
                console.log(i)
                var x = rows[i].querySelectorAll('td')[n];
                var y = rows[i + 1].querySelectorAll('td')[n];

                var valX = getValue(x.innerHTML.trim());
                var valY = getValue(y.innerHTML.trim());

                if ((dir === 'asc' && valX > valY) || (dir === 'desc' && valX < valY)) {
                    shouldSwitch = true;
                    break;
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount === 0 && dir === 'asc') {
                    dir = 'desc';
                    switching = true;
                }
            }
        }
    }

    table.style.opacity = '1';

    function getValue(value) {
        if (headerNames[n] === 'Invoice date') {
            return new Date(value).getTime();
        } else if (numberColumns.includes(headerNames[n])) {
            return parseFloat(value.replaceAll(',', ''));
        } else {
            return value.toLowerCase();
        }
    }
}


    
    // Add click event listeners to each th element to trigger sorting
    var headers = document.querySelectorAll('th');
    var headerNames = []
    var numberColumns = ["PO number","Quantity","Rate","Transportation","Loading Unloading","GST","Total Amount","Difference cost"]
    for (var i = 0; i < headers.length; i++) {
        headers[i].addEventListener('click', function (index, element) {
            $("#alert-msg").addClass('d-none')
            if($('table tr:visible').length > 500) {
                setTimeout(() => {
                    $("#alert-msg").removeClass('d-none')
                    $("#alert-msg").text('Number of rows too high to filter. Please use the date filter to narrow down you search')
                    $("#alert-msg").get(0).scrollIntoView()
                }, 1000)
                return false
            } else {
                
                var index = Array.from(this.parentNode.children).indexOf(this);
                sortTable(index);
            }
            
        });
        headerNames.push(headers[i].innerHTML)
    }

    

    function exportTableToCSV() {
        $('.export-btn').attr('disabled',true)
        const table = document.getElementById('dataTable');
        const rows = $('tr:visible');
        const csvData = [];

        for (let i = 0; i < rows.length; i++) {
            const row = rows[i];
            const cols = row.querySelectorAll('th, td');
            const rowData = [];

            for (let j = 0; j < cols.length; j++) {
                rowData.push(cols[j].innerText);
            }

            csvData.push(rowData.join(','));
        }

        const csvContent = 'data:text/csv;charset=utf-8,' + csvData.join('\n');
        const encodedUri = encodeURI(csvContent);
        const link = document.createElement('a');
        link.setAttribute('href', encodedUri);
        link.setAttribute('download', (new Date().getTime().toString()+'.csv'));
        link.style.display = 'none';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        setTimeout(() => {
            $('.export-btn').attr('disabled',false)
        },1000)
    }
</script>
<style>
    td {
        font-size: 11px;
        font-weight: 500;
        padding: 0.5rem;
        border: 1px solid #dee2e6
    }

    th {
        font-size: 11px;
        padding: 0.5rem;
        border: 1px solid #dee2e6;
        cursor: pointer;
        color: rgb(4, 4, 87);
        font-weight: 600;
    }
    .form-control {
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(148, 146, 146)
    }
    .form-group {
        padding: 0px;
    }
    .form-group label{
        display: block;
    }
</style>

{% endblock %}