{% extends 'layout.html' %}
{% block content %}
<div class="row mx-5 mt-5 mb-3 pb-2 border-bottom form-group">
    <div class="col-12">
        <h4>Unapproved Bills</h4>
    </div>
</div>
<div class="p-5 w-100 table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Contractor Name</th>
            <th scope="col">Contractor PAN</th>
            <th scope="col">Contractor Code</th>
            <th scope="col">Trade</th>
            <th scope="col">Payment Stage</th>
            <th scope="col">Total Payable</th>
            <th scope="col">Approval 1</th>
            <th scope="col">Approval 2</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for project in data %}
        <tr class="bg-white">
            <td class="border border-white"></td>
        </tr>
        <tr class="h5 mt-4 mb-2 border border-white bg-white">
            <td>{{data[project]['project_name']}}</td>
        </tr>
        {% for i in data[project]['bills'] %}
        <tr class="bill-{{i['bill_id']}}">
            <td class="contractor_name border-right">{{i['contractor_name']}}</td>
            <td class="contractor_pan border-right">{{i['contractor_pan']}}</td>
            <td class="contractor_code border-right">{{i['contractor_code']}}</td>
            <td class="trade border-right">{{i['trade']}}</td>
            <td class="stage border-right">{{i['stage']}}</td>
            <td class="total_payable border-right">{{i['total_payable']|int}}</td>
            <td class="approval_1 d-flex border-right">
                {% if i['approval_1_amount'] == '' and session['role'] in ['Super Admin','COO','QS Head'] %}
                <button class="approval_1_btn btn py-0 bg-white" data-project-id="{{project}}"
                        data-project-name="{{data[project]['project_name']}}" data-bill-id="{{i['bill_id']}}"
                        data-toggle="modal" data-target="#approvalModal"><i class="fa fa-pencil"></i></button>
                {% else %}
                {{i['approval_1_amount']|int}}
                {% endif %}
                {% if i['approval_1_notes'] != '' %}
                <button type="button" class="btn p-0 ml-auto mb-auto approval-info text-secondary" data-toggle="popover"
                        data-trigger="focus" data-placement="top" title="Notes"
                        data-content="{{i['approval_1_notes']}}"><i class="fa fa-info-circle"></i></button>
                {% endif %}

            </td>
            <td class="approval_2 ">
                <div class="d-flex w-100">
                    {% if i['approval_2_amount'] == '' and session['role'] in ['Super Admin'] %}
                    <button class="approval_2_btn btn py-0 bg-white" data-project-id="{{project}}"
                            data-project-name="{{data[project]['project_name']}}" data-bill-id="{{i['bill_id']}}"
                            data-toggle="modal" data-target="#approvalModal"><i class="fa fa-pencil"></i></button>
                    {% if i['approval_1_amount'] != '' %}
                    <button class="copy_from_approval_1_btn btn bg-indigo text-white ml-2 py-0"
                            data-project-id="{{project}}"
                            data-project-name="{{data[project]['project_name']}}" data-bill-id="{{i['bill_id']}}"
                            data-toggle="popover-hover" data-trigger="hover" data-placement="top"
                            data-content="Approve proposed amount in approval 1"><i class="fa fa-thumbs-up"></i></button>
                    {% endif %}
                    {% else %}
                    {{i['approval_2_amount']|int}}
                    {% endif %}
                    {% if i['approval_2_notes'] != '' %}
                    <button type="button" class="btn p-0 ml-auto mb-auto approval-info text-secondary"
                            data-toggle="popover" data-trigger="focus" data-placement="top" title="Notes"
                            data-content="{{i['approval_2_notes']}}"><i class="fa fa-info-circle"></i></button>
                    {% endif %}
                </div>
            </td>
            <td>
                <a class="text-danger" href="/erp/delete_bill?bill_id={{i['bill_id']}}" onclick="return confirm('Are you sure you want to delete this bill')">Delete</a>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}


        </tbody>
    </table>


</div>


<!-- Modal -->
<div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approvalModalLabel">Approve bill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Project Name</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold project_name"></label>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Contractor Name</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold contractor_name"></label>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Contractor PAN</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold contractor_pan"></label>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Contractor Code</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold contractor_code"></label>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Trade</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold trade"></label>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Payment stage</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold payment_stage"></label>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Total payable</label>
                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold total_payable"></label>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Amount approved</label>
                    </div>
                    <div class="col-6">
                        <input name="amount_approved" id="amount_approved" class="form-control">
                        <small class="invalid-message text-danger mt-1"></small>
                    </div>
                </div>
                <div class="row mx-0 mb-3 form-group">
                    <div class="col-6">
                        <label>Notes</label> <small>(Optional)</small>
                    </div>
                    <div class="col-6">
                        <input name="notes" id="notes" class="form-control">
                    </div>
                </div>
            </div>
            <input type="hidden" id="project_id" class="project_id">
            <input type="hidden" name="bill_id" class="bill_id">
            <input type="hidden" class="approval_level">
            <div class="modal-footer">
                <div class="d-flex w-100 justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-indigo text-white approve_bill_btn">Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}